workflow/AgenticTour 行前旅行计划生成.yml
app:
  description: 解毒的工作流，用于旅行计划生成
  icon: 25d05bd2-4b31-460f-b7ef-8b2806c6b4fa
  icon_background: null
  icon_type: image
  mode: workflow
  name: AgenticTour 行前旅行计划生成
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 500
        file_size_limit: 500
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent
        targetType: end
      id: 1783651897861-source-1783409766047-target
      source: '1783651897861'
      sourceHandle: source
      target: '1783409766047'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: agent
      id: 1783409402478-source-1783651897861-target
      source: '1783409402478'
      sourceHandle: source
      target: '1783651897861'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: '1'
        type: start
        variables:
        - default: ''
          hint: ''
          label: action
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: action
        - default: ''
          hint: ''
          label: user_id
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: user_id
        - default: ''
          hint: ''
          label: origin_city
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: origin_city
        - default: ''
          hint: ''
          label: destination_city
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: destination_city
        - default: ''
          hint: ''
          label: start_date
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: start_date
        - default: ''
          hint: ''
          label: end_date
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: end_date
        - default: ''
          hint: ''
          label: people_count
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: people_count
        - default: ''
          hint: ''
          label: budget_total
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: budget_total
        - default: ''
          hint: ''
          label: interests
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: interests
        - default: ''
          hint: ''
          label: hotel_level
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: hotel_level
        - default: ''
          hint: ''
          label: transport_preference
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: transport_preference
        - default: ''
          hint: ''
          label: pace
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: pace
        - default: ''
          hint: ''
          label: special_requirements
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: special_requirements
        - default: ''
          hint: ''
          label: previous_plan_json
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: previous_plan_json
        - default: ''
          hint: ''
          label: revision_request
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: revision_request
      height: 471
      id: '1783409402478'
      position:
        x: 32
        y: 274
      positionAbsolute:
        x: 32
        y: 274
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1783651897861'
          - text
          value_type: string
          variable: plan_json
        selected: false
        title: 输出
        type: end
      height: 87
      id: '1783409766047'
      position:
        x: 793
        y: 308
      positionAbsolute:
        x: 793
        y: 308
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: |-
              你是 AgenticTour 的行前旅行规划 Agent。请把用户偏好转成真实、连贯、可执行的旅行方案。

              一、事实与工具约束
              1. 出发地、目的地、开始日期、结束日期是硬约束，不得互换，也不得把出发城市当作主要旅游城市。
              2. 当出发地与目的地不同，首日必须先安排合理的跨城交通，再安排目的地活动；返程日也要预留返程时间。
              3. 只要方案包含具体火车车次、出发到达时刻、历时或余票，必须先调用 train_ticket_query，并且只能采用本轮工具返回的数据。工具失败时不得编造车次，只能写“具体班次待通过 12306 核实”。
              4. 用户选择高铁优先，或两个城市适合铁路出行时，必须调用 train_ticket_query 查询出发日；涉及返程具体班次时还要查询返程日。
              5. 景点开放时间、门票、天气等会变化的事实，应优先使用可用工具核实；无法核实时，在 warnings 中明确标注，不得伪造。
              6. 工具之间职责不同：12306 负责火车事实，高德负责位置、周边和路线，知识库负责已有攻略。不得用普通网页或模型记忆替代 12306 的实时车次结果。

              二、行程质量约束
              1. 每个 days.date 必须位于开始和结束日期之间且不重复、不缺日。
              2. 同一天 items 的时间不得重叠；跨城交通和后续活动之间要保留换乘、进站、取行李等缓冲。
              3. type 仅使用 transit、attraction、food、hotel、rest。跨城交通必须使用 transit。
              4. 每个 item 必须包含 time、type、name、reason、transport、estimated_cost、walking_minutes、tips。
              5. 预算分项之和应与总预算大致一致；若预算不足，应减少项目或降低标准，不得强行超支。
              6. revise 时必须以 previous_plan_json 为基准，只修改用户要求涉及的部分，并在 change_log 说明变化。

              三、输出约束
              只输出一个合法 JSON 对象，不输出 Markdown、代码围栏、think 标签或解释文字。结构必须为：
              {
                "title": "计划标题",
                "summary": "适用人群、预算和节奏摘要",
                "days": [{"day": 1, "date": "YYYY-MM-DD", "theme": "主题", "items": [{"time": "09:30-11:30", "type": "transit", "name": "事项", "reason": "原因", "transport": "交通方式", "estimated_cost": 0, "walking_minutes": 0, "tips": "提示"}]}],
                "attractions": [],
                "route_summary": {"total_walking_minutes": 0, "transport_advice": "交通建议"},
                "budget": {"total": 0, "hotel": 0, "food": 0, "transport": 0, "tickets": 0, "buffer": 0},
                "warnings": [],
                "change_log": []
              }
          maximum_iterations:
            type: constant
            value: 40
          model:
            type: constant
            value:
              completion_params:
                reasoning_effort: max
                response_format: json_object
                thinking: true
              mode: chat
              model: deepseek-v4-flash
              model_type: llm
              provider: langgenius/deepseek/deepseek
              type: model-selector
          query:
            type: constant
            value: '

              来自用户 {{#1783409402478.user_id#}} 的问题：


              =====START USER PROMPT=====

              {{#1783409402478.action#}}


              出发地：{{#1783409402478.origin_city#}}

              目的地：{{#1783409402478.destination_city#}}

              出发日期：{{#1783409402478.start_date#}}

              结束日期：{{#1783409402478.end_date#}}

              人数：{{#1783409402478.people_count#}}

              预算：{{#1783409402478.budget_total#}}

              兴趣：{{#1783409402478.interests#}}

              住宿标准：{{#1783409402478.hotel_level#}}

              交通偏好：{{#1783409402478.transport_preference#}}

              旅游节奏：{{#1783409402478.pace#}}


              其它要求：

              {{#1783409402478.special_requirements#}}


              已有的计划，初次运行为空：

              {{#1783409402478.previous_plan_json#}}


              修改意见，初次运行为空：

              {{#1783409402478.revision_request#}}

              =====END USER PROMPT====='
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: '查询指定城市或区县的天气。


                  适用场景：

                  - 用户问今天/现在天气

                  - 用户问是否需要带伞

                  - 用户问穿衣建议

                  - 系统自动生成行前提醒


                  参数：

                  - adcode: 高德行政区编码，例如上海 310000，北京 110000

                  - extensions: base 表示实况天气，all 表示天气预报'
              parameters:
                adcode:
                  auto: 1
                  value: null
                extensions:
                  auto: 1
                  value: null
              provider_name: travel-mcp
              provider_show_name: AI旅游MCP
              settings: {}
              tool_description: '查询指定城市或区县的天气。


                适用场景：

                - 用户问今天/现在天气

                - 用户问是否需要带伞

                - 用户问穿衣建议

                - 系统自动生成行前提醒


                参数：

                - adcode: 高德行政区编码，例如上海 310000，北京 110000

                - extensions: base 表示实况天气，all 表示天气预报'
              tool_label: amap_weather
              tool_name: amap_weather
              type: mcp
            - enabled: true
              extra:
                description: '查询当前位置附近的地点。


                  适用场景：

                  - 用户想找附近餐厅

                  - 用户想找咖啡店

                  - 用户想找休息点

                  - 用户想找厕所、商场、景点等


                  参数：

                  - location: 经纬度，格式为 经度,纬度，例如 116.397428,39.90923

                  - keywords: 搜索关键词，例如 餐厅、咖啡、厕所、商场

                  - types: 高德 POI 类型编码，可为空

                  - radius: 搜索半径，单位米

                  - page_size: 返回数量

                  - page_num: 页码'
              parameters:
                keywords:
                  auto: 1
                  value: null
                location:
                  auto: 1
                  value: null
                page_num:
                  auto: 1
                  value: null
                page_size:
                  auto: 1
                  value: null
                radius:
                  auto: 1
                  value: null
                types:
                  auto: 1
                  value: null
              provider_name: travel-mcp
              provider_show_name: AI旅游MCP
              settings: {}
              tool_description: '查询当前位置附近的地点。


                适用场景：

                - 用户想找附近餐厅

                - 用户想找咖啡店

                - 用户想找休息点

                - 用户想找厕所、商场、景点等


                参数：

                - location: 经纬度，格式为 经度,纬度，例如 116.397428,39.90923

                - keywords: 搜索关键词，例如 餐厅、咖啡、厕所、商场

                - types: 高德 POI 类型编码，可为空

                - radius: 搜索半径，单位米

                - page_size: 返回数量

                - page_num: 页码'
              tool_label: amap_nearby_search
              tool_name: amap_nearby_search
              type: mcp
            - enabled: true
              extra:
                description: '查询两个地点之间的步行路线。


                  适用场景：

                  - 用户问怎么走

                  - 用户问步行多久

                  - 用户问是否来得及

                  - 系统判断附近地点是否适合作为推荐


                  参数：

                  - origin: 起点经纬度，格式为 经度,纬度

                  - destination: 终点经纬度，格式为 经度,纬度

                  - isindoor: 是否室内算路，0 不需要，1 需要'
              parameters:
                destination:
                  auto: 1
                  value: null
                isindoor:
                  auto: 1
                  value: null
                origin:
                  auto: 1
                  value: null
              provider_name: travel-mcp
              provider_show_name: AI旅游MCP
              settings: {}
              tool_description: '查询两个地点之间的步行路线。


                适用场景：

                - 用户问怎么走

                - 用户问步行多久

                - 用户问是否来得及

                - 系统判断附近地点是否适合作为推荐


                参数：

                - origin: 起点经纬度，格式为 经度,纬度

                - destination: 终点经纬度，格式为 经度,纬度

                - isindoor: 是否室内算路，0 不需要，1 需要'
              tool_label: amap_walking_route
              tool_name: amap_walking_route
              type: mcp
            - enabled: true
              extra:
                description: 通过 Joooook/12306-mcp 查询 12306 实时车次与余票；具体车次和时刻必须以本工具本轮结果为准。
              parameters:
                date:
                  auto: 1
                  value: null
                earliest_start_time:
                  auto: 1
                  value: null
                from_station:
                  auto: 1
                  value: null
                latest_start_time:
                  auto: 1
                  value: null
                limited_num:
                  auto: 1
                  value: null
                sort_flag:
                  auto: 1
                  value: null
                to_station:
                  auto: 1
                  value: null
                train_filter_flags:
                  auto: 1
                  value: null
              provider_name: travel-mcp
              provider_show_name: AI旅游MCP
              settings: {}
              tool_description: 查询 12306 实时车次、时刻、历时和余票，日期使用 yyyy-MM-dd。
              tool_label: train_ticket_query
              tool_name: train_ticket_query
              type: mcp
            - enabled: true
              extra:
                description: A tool for getting the current time.
              parameters: {}
              provider_name: time
              provider_show_name: time
              settings:
                format:
                  value:
                    type: mixed
                    value: '%Y-%m-%d %H:%M:%S'
                timezone:
                  value:
                    type: constant
                    value: UTC
              tool_description: A tool for getting the current time.
              tool_label: Current Time
              tool_name: current_time
              type: builtin
            - enabled: true
              extra:
                description: Get current weather with no API key, with multi-language
                  translation and CJK-aware geolocation.
              parameters:
                location:
                  auto: 1
                  value: null
              provider_name: alexmultiagent/myweather/myweather
              provider_show_name: alexmultiagent/myweather/myweather
              settings:
                include_raw_json:
                  value:
                    type: constant
                    value: false
                language:
                  value:
                    type: constant
                    value: auto
                source_preference:
                  value:
                    type: constant
                    value: wttr
                units:
                  value:
                    type: constant
                    value: metric
              tool_description: Get current weather with no API key, with multi-language
                translation and CJK-aware geolocation.
              tool_label: Weather Lookup
              tool_name: weather_lookup
              type: builtin
            - enabled: true
              extra:
                description: A tool for scraping webpages.
              parameters:
                url:
                  auto: 1
                  value: null
              provider_name: webscraper
              provider_show_name: webscraper
              settings:
                generate_summary:
                  value:
                    type: constant
                    value: 'false'
                user_agent:
                  value:
                    type: mixed
                    value: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36
                      (KHTML, like Gecko) Chrome/100.0.1000.0 Safari/537.36
              tool_description: A tool for scraping webpages.
              tool_label: Web Scraper
              tool_name: webscraper
              type: builtin
            - enabled: true
              extra:
                description: '列出 Dify 中所有可用的知识库，返回每个知识库的 ID、名称、描述和文档数。


                  模型应先调用此工具获取可用知识库清单，根据 description 判断哪个知识库适合用户的查询意图，

                  然后用返回的 id 调用 search_knowledge。'
              parameters: {}
              provider_name: travel-mcp
              provider_show_name: AI旅游MCP
              settings: {}
              tool_description: '列出 Dify 中所有可用的知识库，返回每个知识库的 ID、名称、描述和文档数。


                模型应先调用此工具获取可用知识库清单，根据 description 判断哪个知识库适合用户的查询意图，

                然后用返回的 id 调用 search_knowledge。'
              tool_label: list_knowledge_bases
              tool_name: list_knowledge_bases
              type: mcp
            - enabled: true
              extra:
                description: '在指定的 Dify 知识库中检索文档片段。


                  适用场景：

                  - 用户询问旅行攻略、美食推荐、行程安排等信息

                  - 需要从已有知识库中查找相关内容


                  参数：

                  - dataset_id: 知识库 ID（由 list_knowledge_bases 返回）

                  - query: 搜索关键词或问题'
              parameters:
                dataset_id:
                  auto: 1
                  value: null
                query:
                  auto: 1
                  value: null
              provider_name: travel-mcp
              provider_show_name: AI旅游MCP
              settings: {}
              tool_description: '在指定的 Dify 知识库中检索文档片段。


                适用场景：

                - 用户询问旅行攻略、美食推荐、行程安排等信息

                - 需要从已有知识库中查找相关内容


                参数：

                - dataset_id: 知识库 ID（由 list_knowledge_bases 返回）

                - query: 搜索关键词或问题'
              tool_label: search_knowledge
              tool_name: search_knowledge
              type: mcp
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.39@ceea6a76b3a495de2df2a55bcea82e903d49b06f4d8e1463c2aa085657f27164
        selected: true
        title: Agent
        tool_node_version: '2'
        type: agent
      height: 186
      id: '1783651897861'
      position:
        x: 394
        y: 249
      positionAbsolute:
        x: 394
        y: 249
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 155.34676791820974
      y: 75.70454477868728
      zoom: 0.763837365535262
  rag_pipeline_variables: []
