workflow/旅行陪伴Hikari Workflow完善版.yml
app:
  description: Hikari 旅行陪伴工作流：本地历史聊天、行程重规划、定时提醒、主动推荐与自动检查
  icon: 20dcbea8-aedf-43e1-afa4-46f9d8ac42a6
  icon_background: ''
  icon_type: image
  mode: workflow
  name: 旅行陪伴Hikari Workflow完善版
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: junjiem/db_query:0.0.11@2eae0951f13c4e8daa099310d706c9502c349236bca81fcc996f2aea9524c97c
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.19@5b68617c637b62d31e7f33a9f5677b76e88f81868fb04a728e208588564b72ea
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: 库名
    id: a505215c-3adf-41d3-bdd9-8099956b1ca2
    name: sql
    selector:
    - env
    - sql
    value: agentictour
    value_type: string
  - description: 用户名
    id: 8de416d2-0caa-42dc-9a8c-f8a811ac558e
    name: User
    selector:
    - env
    - User
    value: hikari_agent
    value_type: string
  - description: 端口号
    id: 3a3cb0f1-f797-417b-9df6-631ee94e044a
    name: port
    selector:
    - env
    - port
    value: 3306
    value_type: integer
  - description: 数据库地址
    id: 913b68ff-50d0-4267-b316-d12841a6b292
    name: IP
    selector:
    - env
    - IP
    value: 49.232.141.47
    value_type: string
  - description: 数据库密码
    id: 31dca7fa-691a-439a-8b39-4b62795403d0
    name: password1
    selector:
    - env
    - password1
    value: ''
    value_type: secret
  - description: 用户表名
    id: 48f3d78e-f20d-4fb5-960d-17a5f2278e01
    name: TABLE_USERS
    selector:
    - env
    - TABLE_USERS
    value: users
    value_type: string
  - description: 旅行主表名
    id: 9da65465-ea43-4c1c-94af-f864da691b02
    name: TABLE_TRIPS
    selector:
    - env
    - TABLE_TRIPS
    value: trips
    value_type: string
  - description: 行程明细表名
    id: bbb475a8-7646-44c6-bcee-95f59c687103
    name: TABLE_ITINERARY_ITEMS
    selector:
    - env
    - TABLE_ITINERARY_ITEMS
    value: itinerary_items
    value_type: string
  - description: 备忘录表名
    id: 41ba62f8-90bf-4488-b50f-3794e89f6404
    name: TABLE_MEMOS
    selector:
    - env
    - TABLE_MEMOS
    value: memos
    value_type: string
  - description: AI建议表名
    id: ce83f3cf-a236-4396-96d6-cf585dfdb305
    name: TABLE_AI_ADVICE
    selector:
    - env
    - TABLE_AI_ADVICE
    value: ai_advice
    value_type: string
  - description: 通知表名
    id: 814702b5-cf2d-49e5-bf98-b752760e6b06
    name: TABLE_NOTIFICATIONS
    selector:
    - env
    - TABLE_NOTIFICATIONS
    value: notifications
    value_type: string
  - description: Agent任务状态表名
    id: df076bc8-e18f-427b-b63f-e44154c41407
    name: TABLE_AGENT_JOB_STATES
    selector:
    - env
    - TABLE_AGENT_JOB_STATES
    value: agent_job_states
    value_type: string
  - description: 用户位置表名
    id: 1068ed21-83ef-4379-919a-ddd04bd02e08
    name: TABLE_USER_LOCATIONS
    selector:
    - env
    - TABLE_USER_LOCATIONS
    value: user_locations
    value_type: string
  - description: 聊天会话表名
    id: 9bafbd63-5a89-4b38-942d-19317eb8ee09
    name: TABLE_CHAT_SESSIONS
    selector:
    - env
    - TABLE_CHAT_SESSIONS
    value: chat_sessions
    value_type: string
  - description: 聊天消息表名
    id: a8c3da97-ac86-4bec-9cf2-4fe496912210
    name: TABLE_CHAT_MESSAGES
    selector:
    - env
    - TABLE_CHAT_MESSAGES
    value: chat_messages
    value_type: string
  - description: 行程计划请求表名
    id: 4ae8a4f2-b31d-4505-a3b4-06a6340d5f11
    name: TABLE_TRIP_PLAN_REQUESTS
    selector:
    - env
    - TABLE_TRIP_PLAN_REQUESTS
    value: trip_plan_requests
    value_type: string
  - description: 行程计划版本表名
    id: 91b9b174-97a2-411c-a20f-e96db484ff12
    name: TABLE_TRIP_PLAN_VERSIONS
    selector:
    - env
    - TABLE_TRIP_PLAN_VERSIONS
    value: trip_plan_versions
    value_type: string
  - description: 计划点赞表名
    id: 7e324d56-ae82-4a1e-89cf-72340580df13
    name: TABLE_PLAN_LIKES
    selector:
    - env
    - TABLE_PLAN_LIKES
    value: plan_likes
    value_type: string
  - description: 计划知识库映射表名
    id: 0ec91502-37c9-4921-9dd4-e8cdece5ea14
    name: TABLE_PLAN_KNOWLEDGE_MAPPINGS
    selector:
    - env
    - TABLE_PLAN_KNOWLEDGE_MAPPINGS
    value: plan_knowledge_mappings
    value_type: string
  - description: 用户偏好原型表名
    id: 3ab8588f-9d62-4269-a7f1-df6901596b15
    name: TABLE_USER_PREFERENCE_PROTOTYPES
    selector:
    - env
    - TABLE_USER_PREFERENCE_PROTOTYPES
    value: user_preference_prototypes
    value_type: string
  - description: 游记素材表名
    id: e59cc649-e8b4-41c5-bce8-19e36985c516
    name: TABLE_BLOG_MATERIALS
    selector:
    - env
    - TABLE_BLOG_MATERIALS
    value: blog_materials
    value_type: string
  - description: 游记照片表名
    id: f815f8f7-ee6e-4396-9d26-d513c8010b17
    name: TABLE_BLOG_PHOTOS
    selector:
    - env
    - TABLE_BLOG_PHOTOS
    value: blog_photos
    value_type: string
  - description: 游记生成结果表名
    id: b8f54417-8c77-4c75-a832-ef2ac3e7ec18
    name: TABLE_BLOG_GENERATIONS
    selector:
    - env
    - TABLE_BLOG_GENERATIONS
    value: blog_generations
    value_type: string
  - description: Agent只读数据库结构说明
    id: 74acbc9f-76ad-4dcb-912e-689799551619
    name: DB_SCHEMA_CONTEXT
    selector:
    - env
    - DB_SCHEMA_CONTEXT
    value: |-
      只允许单条 SELECT，禁止 INSERT、UPDATE、DELETE、DROP、ALTER、SHOW 和 information_schema。只能查询当前用户、当前旅行所需数据，不得读取 users.password_hash。
      时间规则：数据库中的 DATETIME（包括 start_time、end_time、reminder_time、reminded_at、created_at、updated_at）统一存储为 UTC；面向用户和 Agent 的时间统一使用 Asia/Shanghai（UTC+8）。查询后必须先加 8 小时再解释或展示，禁止把数据库原始 UTC 当作北京时间。
      Workflow 输入 tour_id 对应 trips.id，也对应带 trip_id 字段的业务表中的 trip_id；不要使用 tour_schedule，该表不存在。
      users(user_id, username, password_hash[禁止查询], nickname, phone, email, status, created_at, updated_at)
      trips(id, user_id, title, origin_city, destination_city, start_date, end_date, timezone, status, created_at, updated_at)
      itinerary_items(itinerary_id, trip_id, title, place_name, start_time, end_time, itinerary_type, reminder_time, is_initial, reminded_at, status, created_at, updated_at)
      memos(memo_id, trip_id, memo_text, reminder_time, reminded_at, created_at, updated_at)
      ai_advice(advice_id, trip_id, advice_type, parent_advice_id, input_text, reason_text, advice_text, proposed_itinerary_json, result, audit_status, audit_reason, generation_stopped, created_at, updated_at)
      notifications(notification_id, trip_id, user_id, advice_id, category, content, read_at, created_at)
      agent_job_states(job_name, last_run_at)
      user_locations(user_id, latitude, longitude, city, place_name, location_context, updated_at)
      chat_sessions(session_id, trip_id, user_id, title, status, last_message_at, created_at, updated_at)
      chat_messages(message_id, session_id, sender_type, content, message_order, audit_status, audit_reason, created_at, updated_at)
      trip_plan_requests(id, trip_id, user_id, action, origin_city, destination_city, start_date, end_date, people_count, budget_total, interests, hotel_level, transport_preference, pace, special_requirements, created_at, updated_at)
      trip_plan_versions(id, request_id, user_id, version_no, revision_request, workflow_run_id, task_id, plan_json, raw_response_json, created_at)
      plan_likes(id, user_id, plan_id, chunk_ids, created_at)
      plan_knowledge_mappings(id, plan_id, version_id, user_id, dataset_id, document_id, document_name, batch, humanized_text, indexing_status, created_at)
      user_preference_prototypes(id, user_id, vector, chunk_count, created_at)
      blog_materials(id, user_id, title, destination, start_date, end_date, people_count, itinerary_text, food_text, photo_text, expense_text, feeling_text, created_at, updated_at)
      blog_photos(id, material_id, user_id, original_filename, stored_filename, content_type, file_size, created_at)
      blog_generations(id, material_id, user_id, content_type, writing_style, generated_title, generated_content, tags, risk_note, created_at)
    value_type: string
  - description: Agent数据库查询统一规范
    id: 95fdcf34-85f4-41db-ac6b-d64121486a20
    name: DB_QUERY_RULES
    selector:
    - env
    - DB_QUERY_RULES
    value: |-
      1. 只允许执行一条 SELECT；禁止 INSERT、UPDATE、DELETE、REPLACE、DROP、ALTER、TRUNCATE、CREATE、SHOW、DESCRIBE、EXPLAIN、存储过程和多语句。
      2. 只能使用 DB_SCHEMA_CONTEXT 中明确列出的表名和字段名；禁止猜测 tour_schedule 等不存在的表，禁止访问 information_schema。
      3. 禁止 SELECT *，只选择完成当前任务所需字段；禁止查询 users.password_hash 等认证或敏感数据。
      4. Workflow 的 tour_id 对应 trips.id 和其他业务表的 trip_id。涉及旅行的数据必须使用 WHERE trip_id = 当前 tour_id；查询 trips 时使用 WHERE id = 当前 tour_id。不得查询其他旅行。
      5. 查询行程时必须把 UTC 转为北京时间，优先使用：SELECT itinerary_id, trip_id, title, place_name, DATE_FORMAT(DATE_ADD(start_time, INTERVAL 8 HOUR), '%Y-%m-%d %H:%i:%s') AS start_time, DATE_FORMAT(DATE_ADD(end_time, INTERVAL 8 HOUR), '%Y-%m-%d %H:%i:%s') AS end_time, itinerary_type, DATE_FORMAT(DATE_ADD(reminder_time, INTERVAL 8 HOUR), '%Y-%m-%d %H:%i:%s') AS reminder_time, is_initial, status FROM itinerary_items WHERE trip_id = 当前 tour_id ORDER BY start_time ASC
      6. 查询备忘录时必须把 UTC 转为北京时间，优先使用：SELECT memo_id, trip_id, memo_text, DATE_FORMAT(DATE_ADD(reminder_time, INTERVAL 8 HOUR), '%Y-%m-%d %H:%i:%s') AS reminder_time, DATE_FORMAT(DATE_ADD(reminded_at, INTERVAL 8 HOUR), '%Y-%m-%d %H:%i:%s') AS reminded_at FROM memos WHERE trip_id = 当前 tour_id ORDER BY created_at ASC
      7. 自动检查未来行程同样必须先将 start_time、end_time、reminder_time 从 UTC 加 8 小时转换为北京时间，再与 Asia/Shanghai 当前时间比较和输出。
      8. SQL 因表名或字段名失败时，只能依据 DB_SCHEMA_CONTEXT 修正一次；再次失败就停止查询并明确说明数据库暂时不可用，不得继续猜表、探库或泄露工具错误详情。
      9. 每个任务最多调用数据库工具两次。最终回复只呈现查询结论，不输出 SQL、数据库连接信息、工具调用过程或内部思考。
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 500
        file_size_limit: 500
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent
        targetType: end
      id: 1782351047886-source-1782351997056-target
      selected: false
      source: '1782351047886'
      sourceHandle: source
      target: '1782351997056'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1782285385726-source-1782441291535-target
      selected: false
      source: '1782285385726'
      sourceHandle: source
      target: '1782441291535'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: code
      id: 1782441291535-source-hikari_itinerary_context_formatter_v1-target
      selected: false
      source: '1782441291535'
      sourceHandle: source
      target: hikari_itinerary_context_formatter_v1
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: hikari_itinerary_context_formatter_v1-source-1782286303865-target
      selected: false
      source: hikari_itinerary_context_formatter_v1
      sourceHandle: source
      target: '1782286303865'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: agent
      id: 1782286303865-0363e60e-3402-4bea-b11c-780ef8787057-17824362484760-target
      selected: false
      source: '1782286303865'
      sourceHandle: 0363e60e-3402-4bea-b11c-780ef8787057
      target: '17824362484760'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 1782441089142-source-17836645655680-target
      selected: false
      source: '1782441089142'
      sourceHandle: source
      target: '17836645655680'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 17836645655680-source-1783664577609-target
      selected: false
      source: '17836645655680'
      sourceHandle: source
      target: '1783664577609'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: agent
      id: 1782286303865-false-1782351047886-target
      selected: false
      source: '1782286303865'
      sourceHandle: 'false'
      target: '1782351047886'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1782286303865-true-17836716058920-target
      selected: false
      source: '1782286303865'
      sourceHandle: 'true'
      target: '17836716058920'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: 1783673975969-source-1782441089142-target
      selected: false
      source: '1783673975969'
      sourceHandle: source
      target: '1782441089142'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: 17836716058920-source-1783673975969-target
      selected: false
      source: '17836716058920'
      sourceHandle: source
      target: '1783673975969'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent
        targetType: code
      id: 17824362484760-source-hikari_replan_parser_v2-target
      selected: false
      source: '17824362484760'
      sourceHandle: source
      target: hikari_replan_parser_v2
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: hikari_replan_parser_v2-source-1782437042677-target
      selected: false
      source: hikari_replan_parser_v2
      sourceHandle: source
      target: '1782437042677'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: agent
      id: 1782286303865-system_auto_check_case-hikari_auto_check_agent_v2-target
      selected: false
      source: '1782286303865'
      sourceHandle: system_auto_check_case
      target: hikari_auto_check_agent_v2
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent
        targetType: code
      id: hikari_auto_check_agent_v2-source-hikari_auto_check_parser_v2-target
      selected: false
      source: hikari_auto_check_agent_v2
      sourceHandle: source
      target: hikari_auto_check_parser_v2
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: hikari_auto_check_parser_v2-source-hikari_auto_check_end_v2-target
      selected: false
      source: hikari_auto_check_parser_v2
      sourceHandle: source
      target: hikari_auto_check_end_v2
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: 现在是系统提示，请你合理调用自己的工具，根据当前时间、用户位置、天气等等为用户提供相应的推荐。
          hide: false
          hint: 普通 workflow 没有聊天输入变量；后端调用 /workflows/run 时，把用户原始输入或系统提示放到 inputs.user_query。
          label: user_query
          options: []
          placeholder: 用户输入 / 系统提示 / 突发情况说明
          required: true
          type: paragraph
          variable: user_query
        - hide: false
          hint: ''
          label: trigger_type
          options:
          - system_auto_remind
          - system_auto_check
          - system_auto_advice
          - system_auto_accident
          - user_accident
          - user_input
          placeholder: ''
          required: true
          type: select
          variable: trigger_type
        - default: ''
          hide: false
          hint: ''
          label: tour_id
          options: []
          placeholder: ''
          required: true
          type: number
          variable: tour_id
        - default: ''
          hide: false
          hint: 高德行政区编码；允许为空，例如上海 310000
          label: city_adcode
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: city_adcode
        - default: ''
          hint: 可选；后端没有位置时传空值
          label: latitude
          options: []
          placeholder: ''
          required: false
          type: number
          variable: latitude
        - default: ''
          hint: 可选；后端没有位置时传空值
          label: longitude
          options: []
          placeholder: ''
          required: false
          type: number
          variable: longitude
        - default: ''
          hint: ''
          label: location_name
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: location_name
        - default: '[]'
          hide: false
          hint: 后端从 chat_messages 读取并序列化的 JSON 历史消息
          label: conversation_history
          options: []
          placeholder: '[{"role":"user","content":"你好"}]'
          required: false
          type: paragraph
          variable: conversation_history
      height: 316
      id: '1782285385726'
      position:
        x: -304.90419462659685
        y: 246.22106350720122
      positionAbsolute:
        x: -304.90419462659685
        y: 246.22106350720122
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: ca255493-3164-4d27-9677-ca711af58587
            value: system_auto_remind
            varType: string
            variable_selector:
            - '1782285385726'
            - trigger_type
          id: 'true'
          logical_operator: and
        - case_id: 0363e60e-3402-4bea-b11c-780ef8787057
          conditions:
          - comparison_operator: is
            id: f2388a60-af02-4c35-952f-f8c012dfe206
            value: system_auto_accident
            varType: string
            variable_selector:
            - '1782285385726'
            - trigger_type
          - comparison_operator: is
            id: 99cd8fe5-5a75-4d88-ba23-acce05bbe41a
            value: user_accident
            varType: string
            variable_selector:
            - '1782285385726'
            - trigger_type
          id: 0363e60e-3402-4bea-b11c-780ef8787057
          logical_operator: or
        - case_id: system_auto_check_case
          conditions:
          - comparison_operator: is
            id: system-auto-check-condition-v2
            value: system_auto_check
            varType: string
            variable_selector:
            - '1782285385726'
            - trigger_type
          id: system_auto_check_case
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 341
      id: '1782286303865'
      position:
        x: 800.3551651938042
        y: 267.2210635072012
      positionAbsolute:
        x: 800.3551651938042
        y: 267.2210635072012
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        agent_parameters:
          context:
            type: variable
            value:
            - hikari_itinerary_context_formatter_v1
            - documents
          instruction:
            type: constant
            value: '你是旅行陪伴助手 Hikari。语气温柔、克制、可靠，优先解决用户当下的旅行问题。


              输入上下文：

              - 触发类型：{{#1782285385726.trigger_type#}}

              - 旅行 ID：{{#1782285385726.tour_id#}}

              - 城市编码：{{#1782285385726.city_adcode#}}

              - 当前坐标：经度 {{#1782285385726.longitude#}}，纬度 {{#1782285385726.latitude#}}

              - 位置名称：{{#1782285385726.location_name#}}

              - 本地历史消息：{{#1782285385726.conversation_history#}}

              - 基准行程快照：由 Workflow 开头按 tour_id 固定查询并通过 context 提供

              - 数据库完整结构：{{#env.DB_SCHEMA_CONTEXT#}}

              - 数据库查询规范：{{#env.DB_QUERY_RULES#}}


              行为规则：

              1. 回答必须结合后端传入的本地历史消息，但不得声称 Dify 保存了会话。

              2. 涉及行程、备忘录、旅行状态或其他数据库事实时，严格按照“数据库完整结构”和“数据库查询规范”调用 SQL查询 工具；只能使用列出的真实表名和字段名。context 是基准快照，再次查询与快照冲突时以同一 tour_id 的最新 SELECT 结果为准。

              3. 天气、附近地点、路线耗时等实时信息必须调用对应工具，工具失败时明确说明无法确认。

              4. 查询行程或数据库时只允许 SELECT；严禁 INSERT、UPDATE、DELETE、DROP、ALTER，并始终限制当前 tour_id。

              5. 不得编造营业时间、票价、距离、天气、交通状态和用户行程。

              6. trigger_type=user_input 时直接回答用户；trigger_type=system_auto_advice 仅作为兼容入口，输出一条可直接进入聊天框的简短主动建议，后端会写入 ai_advice 和 chat_messages，不会作为通知发送。

              7. 需要行动时优先给出一个明确可执行的下一步。只输出最终回复正文，不输出 JSON、思考过程、工具调用过程或 Markdown 代码块。'
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: deepseek-v4-flash
              model_type: llm
              provider: langgenius/deepseek/deepseek
              type: model-selector
          query:
            type: constant
            value: '本地历史消息：{{#1782285385726.conversation_history#}}


              当前用户消息：{{#1782285385726.user_query#}}'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: 一个用于获取当前时间的工具。
              parameters: {}
              provider_name: time
              provider_show_name: time
              settings:
                format:
                  value:
                    type: mixed
                    value: '%Y-%m-%d %H:%M:%S'
                timezone:
                  value:
                    type: constant
                    value: Asia/Shanghai
              tool_description: 一个用于获取当前时间的工具。
              tool_label: 获取当前时间
              tool_name: current_time
              type: builtin
            - enabled: true
              extra:
                description: '查询指定城市或区县的天气。


                  适用场景：

                  - 用户问今天/现在天气

                  - 用户问是否需要带伞

                  - 用户问穿衣建议

                  - 系统自动生成行前提醒


                  参数：

                  - adcode: 高德行政区编码，例如上海 310000，北京 110000

                  - extensions: base 表示实况天气，all 表示天气预报'
              parameters:
                adcode:
                  auto: 1
                  value: null
                extensions:
                  auto: 1
                  value: null
              provider_name: travel-mcp
              provider_show_name: AI旅游MCP
              settings: {}
              tool_description: '查询指定城市或区县的天气。


                适用场景：

                - 用户问今天/现在天气

                - 用户问是否需要带伞

                - 用户问穿衣建议

                - 系统自动生成行前提醒


                参数：

                - adcode: 高德行政区编码，例如上海 310000，北京 110000

                - extensions: base 表示实况天气，all 表示天气预报'
              tool_label: amap_weather
              tool_name: amap_weather
              type: mcp
            - enabled: true
              extra:
                description: '查询当前位置附近的地点。


                  适用场景：

                  - 用户想找附近餐厅

                  - 用户想找咖啡店

                  - 用户想找休息点

                  - 用户想找厕所、商场、景点等


                  参数：

                  - location: 经纬度，格式为 经度,纬度，例如 116.397428,39.90923

                  - keywords: 搜索关键词，例如 餐厅、咖啡、厕所、商场

                  - types: 高德 POI 类型编码，可为空

                  - radius: 搜索半径，单位米

                  - page_size: 返回数量

                  - page_num: 页码'
              parameters:
                keywords:
                  auto: 1
                  value: null
                location:
                  auto: 1
                  value: null
                page_num:
                  auto: 1
                  value: null
                page_size:
                  auto: 1
                  value: null
                radius:
                  auto: 1
                  value: null
                types:
                  auto: 1
                  value: null
              provider_name: travel-mcp
              provider_show_name: AI旅游MCP
              settings: {}
              tool_description: '查询当前位置附近的地点。


                适用场景：

                - 用户想找附近餐厅

                - 用户想找咖啡店

                - 用户想找休息点

                - 用户想找厕所、商场、景点等


                参数：

                - location: 经纬度，格式为 经度,纬度，例如 116.397428,39.90923

                - keywords: 搜索关键词，例如 餐厅、咖啡、厕所、商场

                - types: 高德 POI 类型编码，可为空

                - radius: 搜索半径，单位米

                - page_size: 返回数量

                - page_num: 页码'
              tool_label: amap_nearby_search
              tool_name: amap_nearby_search
              type: mcp
            - enabled: true
              extra:
                description: '查询两个地点之间的步行路线。


                  适用场景：

                  - 用户问怎么走

                  - 用户问步行多久

                  - 用户问是否来得及

                  - 系统判断附近地点是否适合作为推荐


                  参数：

                  - origin: 起点经纬度，格式为 经度,纬度

                  - destination: 终点经纬度，格式为 经度,纬度

                  - isindoor: 是否室内算路，0 不需要，1 需要'
              parameters:
                destination:
                  auto: 1
                  value: null
                isindoor:
                  auto: 1
                  value: null
                origin:
                  auto: 1
                  value: null
              provider_name: travel-mcp
              provider_show_name: AI旅游MCP
              settings: {}
              tool_description: '查询两个地点之间的步行路线。


                适用场景：

                - 用户问怎么走

                - 用户问步行多久

                - 用户问是否来得及

                - 系统判断附近地点是否适合作为推荐


                参数：

                - origin: 起点经纬度，格式为 经度,纬度

                - destination: 终点经纬度，格式为 经度,纬度

                - isindoor: 是否室内算路，0 不需要，1 需要'
              tool_label: amap_walking_route
              tool_name: amap_walking_route
              type: mcp
            - enabled: true
              extra:
                description: 只读数据库查询工具。真实表结构和查询规范已通过 DB_SCHEMA_CONTEXT、DB_QUERY_RULES 提供给 Agent；只能执行限定当前旅行的单条 SELECT，禁止猜表和探库。
              parameters:
                db_host:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#env.IP#}}'
                db_name:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#env.sql#}}'
                db_password:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#env.password1#}}'
                db_port:
                  auto: 0
                  value:
                    type: variable
                    value:
                    - env
                    - port
                db_properties:
                  auto: 1
                  value: null
                db_type:
                  auto: 0
                  value:
                    type: constant
                    value: mysql
                db_username:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#env.User#}}'
                query_sql:
                  auto: 1
                  value: null
              provider_name: junjiem/db_query/db_query
              provider_show_name: junjiem/db_query/db_query
              settings:
                output_format:
                  value:
                    type: constant
                    value: markdown
              tool_description: 只读数据库查询工具。仅使用 DB_SCHEMA_CONTEXT 中的表和字段，并严格遵守 DB_QUERY_RULES。
              tool_label: SQL查询
              tool_name: sql_query
              type: builtin
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: 为用户提供建议，充当聊天机器人
        memory:
          query_prompt_template: '{{#1782285385726.user_query#}}

            '
          window:
            enabled: false
            size: 50
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.39@ceea6a76b3a495de2df2a55bcea82e903d49b06f4d8e1463c2aa085657f27164
        selected: false
        title: 聊天主Agent
        tool_node_version: '2'
        type: agent
      height: 215
      id: '1782351047886'
      position:
        x: 1270.8760092496725
        y: 843.0740866487456
      positionAbsolute:
        x: 1270.8760092496725
        y: 843.0740866487456
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1782351047886'
          - text
          variable: reply
        - value_selector:
          - hikari_itinerary_context_formatter_v1
          - content
          value_type: string
          variable: itinerary_context
        selected: false
        title: 结束-聊天回复
        type: end
      height: 87
      id: '1782351997056'
      position:
        x: 2015.207061143653
        y: 843.0740866487456
      positionAbsolute:
        x: 2015.207061143653
        y: 843.0740866487456
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        agent_parameters:
          context:
            type: variable
            value:
            - hikari_itinerary_context_formatter_v1
            - documents
          instruction:
            type: constant
            value: "你是 Hikari 的行程调整 Agent。trigger_type=user_accident 表示用户主动要求修改；trigger_type=system_auto_accident 表示系统发现突发状况后，用户已经同意生成候选调整。两种情况都只生成待用户最终确认的方案。\n\n数据库完整结构：{{#env.DB_SCHEMA_CONTEXT#}}\n\n数据库查询规范：{{#env.DB_QUERY_RULES#}}\n\
              \n重要约束：\n1. 涉及数据库事实时必须严格按照上述结构和规范调用 SQL查询 工具，只使用真实表名和字段名；context 是基准行程快照，最新查询与其冲突时以同一 tour_id 的最新 SELECT 结果为准。数据库只允许 SELECT，不能直接修改任何表。\n2. 只调整当前时间之后、确实受影响且状态为 pending 的安排；已完成、已开始或已取消的行程不能修改。\n\
              3. cancelled_itinerary_ids 只返回需要取消的旧行程 itinerary_id；itinerary_items\
              \ 只返回后端需要创建的新行程，不要重复输出未变化的旧行程。\n4. 每项必须包含 title、place_name、start_time、end_time、itinerary_type、status。\n\
              5. start_time/end_time 使用带 +08:00 时区偏移的 ISO 8601 北京时间；end_time 必须晚于 start_time，正文时间必须与结构化字段一致。\n6. itinerary_type\
              \ 只能是 play 或 transit；transit 必须提供 reminder_time。\n7. 不确定的营业时间、票价、天气或路线必须先调用工具；无法确认时不要伪造候选行程。\n\
              8. 用户同意“生成重推荐”不等于同意“采纳方案”。reply 只能说明候选调整及理由，不能声称已经修改成功；后端会先把本次结果保存为 pending，等待用户采纳、进一步修改或放弃。\n9. cancelled_itinerary_ids 与 itinerary_items 必须共同表达最小增量变化，未变化的旧行程不要返回。\n10. 当 user_query 包含“推荐版本历史”时，这些内容由后端根据 ai_advice.parent_advice_id 按旧到新整理，是本次进一步修改的可信上下文。保留仍有效的约束，以“当前用户新要求”为最高优先级，不要恢复已被后续版本否定的内容，也不要自行猜测、改写或查询其他行程的建议链。\n11. user_accident 或 system_auto_accident 的核心任务是产出可执行候选方案：只要存在可调整的未来 pending 行程，cancelled_itinerary_ids 与 itinerary_items 就不能同时为空。替换旧行程时必须返回旧 itinerary_id 和至少一个新行程；仅改时间或地点时也必须返回要取消的旧项及修改后的完整新项。\n12. 用户要求较概括时，选择受影响范围最小、风险最低的具体调整；不得只回复“请补充信息”“我查看一下”或复述用户要求。无法确认新 POI 时，可以基于已知地点安排休息、机动时间、缩短或顺延，但不能编造地点、营业时间和路线。\n13. reply 必须直接概括这一个候选方案及其取舍，并与结构化字段完全一致；不要输出多个互斥选项让用户二次选择。\n\n最终只输出一个合法 JSON 对象，不要输出 Markdown 代码块或思考过程：\n\
              {\n  \"reply\": \"面向用户的简洁说明\",\n  \"cancelled_itinerary_ids\": [123],\n\
              \  \"itinerary_items\": [\n    {\n      \"title\": \"候选行程标题\",\n   \
              \   \"place_name\": \"地点名称\",\n      \"start_time\": \"2026-08-20T14:00:00+08:00\"\
              ,\n      \"end_time\": \"2026-08-20T15:00:00+08:00\",\n      \"itinerary_type\"\
              : \"play\",\n      \"reminder_time\": null,\n      \"is_initial\": false,\n\
              \      \"status\": \"pending\"\n    }\n  ]\n}\n没有需要取消的旧行程时 cancelled_itinerary_ids\
              \ 返回空数组；仅当数据库证据确认当前没有任何可调整的未来 pending 行程时，两个数组才可同时为空，并在 reply 中明确说明没有可调整项。"
          model:
            type: constant
            value:
              completion_params:
                response_format: json_object
              mode: chat
              model: deepseek-v4-flash
              model_type: llm
              provider: langgenius/deepseek/deepseek
              type: model-selector
          query:
            type: constant
            value: '触发类型：{{#1782285385726.trigger_type#}}

              用户说明：{{#1782285385726.user_query#}}

              当前位置：{{#1782285385726.location_name#}}（{{#1782285385726.longitude#}},{{#1782285385726.latitude#}}）

              城市编码：{{#1782285385726.city_adcode#}}

              当前行程基准快照由 context 提供；必要时用数据库工具核对最新状态。请完成用户提出的调整任务，返回一个最小、具体、可执行且包含结构化增量的候选方案，不要只分析问题或要求用户再次补充。'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: '查询指定城市或区县的天气。


                  适用场景：

                  - 用户问今天/现在天气

                  - 用户问是否需要带伞

                  - 用户问穿衣建议

                  - 系统自动生成行前提醒


                  参数：

                  - adcode: 高德行政区编码，例如上海 310000，北京 110000

                  - extensions: base 表示实况天气，all 表示天气预报'
              parameters:
                adcode:
                  auto: 1
                  value: null
                extensions:
                  auto: 1
                  value: null
              provider_name: travel-mcp
              provider_show_name: AI旅游MCP
              settings: {}
              tool_description: '查询指定城市或区县的天气。


                适用场景：

                - 用户问今天/现在天气

                - 用户问是否需要带伞

                - 用户问穿衣建议

                - 系统自动生成行前提醒


                参数：

                - adcode: 高德行政区编码，例如上海 310000，北京 110000

                - extensions: base 表示实况天气，all 表示天气预报'
              tool_label: amap_weather
              tool_name: amap_weather
              type: mcp
            - enabled: true
              extra:
                description: '查询当前位置附近的地点。


                  适用场景：

                  - 用户想找附近餐厅

                  - 用户想找咖啡店

                  - 用户想找休息点

                  - 用户想找厕所、商场、景点等


                  参数：

                  - location: 经纬度，格式为 经度,纬度，例如 116.397428,39.90923

                  - keywords: 搜索关键词，例如 餐厅、咖啡、厕所、商场

                  - types: 高德 POI 类型编码，可为空

                  - radius: 搜索半径，单位米

                  - page_size: 返回数量

                  - page_num: 页码'
              parameters:
                keywords:
                  auto: 1
                  value: null
                location:
                  auto: 1
                  value: null
                page_num:
                  auto: 1
                  value: null
                page_size:
                  auto: 1
                  value: null
                radius:
                  auto: 1
                  value: null
                types:
                  auto: 1
                  value: null
              provider_name: travel-mcp
              provider_show_name: AI旅游MCP
              settings: {}
              tool_description: '查询当前位置附近的地点。


                适用场景：

                - 用户想找附近餐厅

                - 用户想找咖啡店

                - 用户想找休息点

                - 用户想找厕所、商场、景点等


                参数：

                - location: 经纬度，格式为 经度,纬度，例如 116.397428,39.90923

                - keywords: 搜索关键词，例如 餐厅、咖啡、厕所、商场

                - types: 高德 POI 类型编码，可为空

                - radius: 搜索半径，单位米

                - page_size: 返回数量

                - page_num: 页码'
              tool_label: amap_nearby_search
              tool_name: amap_nearby_search
              type: mcp
            - enabled: true
              extra:
                description: '查询两个地点之间的步行路线。


                  适用场景：

                  - 用户问怎么走

                  - 用户问步行多久

                  - 用户问是否来得及

                  - 系统判断附近地点是否适合作为推荐


                  参数：

                  - origin: 起点经纬度，格式为 经度,纬度

                  - destination: 终点经纬度，格式为 经度,纬度

                  - isindoor: 是否室内算路，0 不需要，1 需要'
              parameters:
                destination:
                  auto: 1
                  value: null
                isindoor:
                  auto: 1
                  value: null
                origin:
                  auto: 1
                  value: null
              provider_name: travel-mcp
              provider_show_name: AI旅游MCP
              settings: {}
              tool_description: '查询两个地点之间的步行路线。


                适用场景：

                - 用户问怎么走

                - 用户问步行多久

                - 用户问是否来得及

                - 系统判断附近地点是否适合作为推荐


                参数：

                - origin: 起点经纬度，格式为 经度,纬度

                - destination: 终点经纬度，格式为 经度,纬度

                - isindoor: 是否室内算路，0 不需要，1 需要'
              tool_label: amap_walking_route
              tool_name: amap_walking_route
              type: mcp
            - enabled: true
              extra:
                description: 一个用于获取当前时间的工具。
              parameters: {}
              provider_name: time
              provider_show_name: time
              settings:
                format:
                  value:
                    type: mixed
                    value: '%Y-%m-%d %H:%M:%S'
                timezone:
                  value:
                    type: constant
                    value: Asia/Shanghai
              tool_description: 一个用于获取当前时间的工具。
              tool_label: 获取当前时间
              tool_name: current_time
              type: builtin
            - enabled: true
              extra:
                description: 只读数据库查询工具。真实表结构和查询规范已通过 DB_SCHEMA_CONTEXT、DB_QUERY_RULES 提供给 Agent；只能执行限定当前旅行的单条 SELECT，禁止猜表和探库。
              parameters:
                db_host:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#env.IP#}}'
                db_name:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#env.sql#}}'
                db_password:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#env.password1#}}'
                db_port:
                  auto: 0
                  value:
                    type: variable
                    value:
                    - env
                    - port
                db_properties:
                  auto: 1
                  value: null
                db_type:
                  auto: 0
                  value:
                    type: constant
                    value: mysql
                db_username:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#env.User#}}'
                query_sql:
                  auto: 1
                  value: null
              provider_name: junjiem/db_query/db_query
              provider_show_name: junjiem/db_query/db_query
              settings:
                output_format:
                  value:
                    type: constant
                    value: markdown
              tool_description: 只读数据库查询工具。仅使用 DB_SCHEMA_CONTEXT 中的表和字段，并严格遵守 DB_QUERY_RULES。
              tool_label: SQL查询
              tool_name: sql_query
              type: builtin
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: ''
        isInIteration: false
        isInLoop: false
        memory:
          query_prompt_template: '{{#1782285385726.user_query#}}


            '
          window:
            enabled: false
            size: 50
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.39@ceea6a76b3a495de2df2a55bcea82e903d49b06f4d8e1463c2aa085657f27164
        selected: false
        title: 日程重推荐Agent
        tool_node_version: '2'
        type: agent
      height: 187
      id: '17824362484760'
      position:
        x: 1270.8760092496725
        y: 252.16666666666663
      positionAbsolute:
        x: 1270.8760092496725
        y: 252.16666666666663
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - hikari_replan_parser_v2
          - reply
          value_type: string
          variable: reply
        - value_selector:
          - hikari_replan_parser_v2
          - itinerary_items
          value_type: array[object]
          variable: itinerary_items
        - value_selector:
          - hikari_replan_parser_v2
          - cancelled_itinerary_ids
          value_type: array[number]
          variable: cancelled_itinerary_ids
        - value_selector:
          - hikari_itinerary_context_formatter_v1
          - content
          value_type: string
          variable: itinerary_context
        selected: false
        title: 结束-日程重推荐
        type: end
      height: 139
      id: '1782437042677'
      position:
        x: 1860
        y: 252
      positionAbsolute:
        x: 1860
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: adcode
            ja_JP: adcode
            pt_BR: adcode
            zh_Hans: adcode
          llm_description: ''
          max: null
          min: null
          name: adcode
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: extensions
            ja_JP: extensions
            pt_BR: extensions
            zh_Hans: extensions
          llm_description: ''
          max: null
          min: null
          name: extensions
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          adcode: ''
          extensions: ''
        plugin_id: ''
        plugin_unique_identifier: ''
        provider_icon:
          background: '#6366F1'
          content: 🔗
        provider_id: travel-mcp
        provider_name: AI旅游MCP
        provider_type: mcp
        selected: false
        title: amap_weather
        tool_configurations: {}
        tool_description: '查询指定城市或区县的天气。


          适用场景：

          - 用户问今天/现在天气

          - 用户问是否需要带伞

          - 用户问穿衣建议

          - 系统自动生成行前提醒


          参数：

          - adcode: 高德行政区编码，例如上海 310000，北京 110000

          - extensions: base 表示实况天气，all 表示天气预报'
        tool_label: amap_weather
        tool_name: amap_weather
        tool_node_version: '2'
        tool_parameters:
          adcode:
            type: mixed
            value: '{{#1782285385726.city_adcode#}}'
          extensions:
            type: mixed
            value: all
        type: tool
      height: 83
      id: '1783673975969'
      position:
        x: 1385
        y: 60.66666666666663
      positionAbsolute:
        x: 1385
        y: 60.66666666666663
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        author: wapapapapoo
        desc: ''
        height: 222
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"font-size:
          16px;","text":"分支一是系统提示要带的东西，不做其他操作","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":"font-size:
          16px;"},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textStyle":"font-size:
          16px;","textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"font-size:
          16px;","text":"分支二是日程修改建议，获取当前行程表后进行建议。","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":"font-size:
          16px;"},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textStyle":"font-size:
          16px;","textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"font-size:
          16px;","text":"分支三是聊天和推荐agent，为用户提供一些旅程建议","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":"font-size:
          16px;"}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 349
      height: 222
      id: '1782439705644'
      position:
        x: 608.3909961853177
        y: 1023.7772134228046
      positionAbsolute:
        x: 608.3909961853177
        y: 1023.7772134228046
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 349
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: '%Y-%m-%d %H:%M:%S'
          form: form
          human_description:
            en_US: Time format in strftime standard.
            ja_JP: Time format in strftime standard.
            pt_BR: Time format in strftime standard.
            zh_Hans: strftime 标准的时间格式。
          label:
            en_US: Format
            ja_JP: Format
            pt_BR: Format
            zh_Hans: 格式
          llm_description: null
          max: null
          min: null
          name: format
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: UTC
          form: form
          human_description:
            en_US: Timezone
            ja_JP: Timezone
            pt_BR: Timezone
            zh_Hans: 时区
          label:
            en_US: Timezone
            ja_JP: Timezone
            pt_BR: Timezone
            zh_Hans: 时区
          llm_description: null
          max: null
          min: null
          name: timezone
          options:
          - icon: null
            label:
              en_US: UTC
              ja_JP: UTC
              pt_BR: UTC
              zh_Hans: UTC
            value: UTC
          - icon: null
            label:
              en_US: America/New_York
              ja_JP: America/New_York
              pt_BR: America/New_York
              zh_Hans: 美洲/纽约
            value: America/New_York
          - icon: null
            label:
              en_US: America/Los_Angeles
              ja_JP: America/Los_Angeles
              pt_BR: America/Los_Angeles
              zh_Hans: 美洲/洛杉矶
            value: America/Los_Angeles
          - icon: null
            label:
              en_US: America/Chicago
              ja_JP: America/Chicago
              pt_BR: America/Chicago
              zh_Hans: 美洲/芝加哥
            value: America/Chicago
          - icon: null
            label:
              en_US: America/Sao_Paulo
              ja_JP: America/Sao_Paulo
              pt_BR: América/São Paulo
              zh_Hans: 美洲/圣保罗
            value: America/Sao_Paulo
          - icon: null
            label:
              en_US: Asia/Shanghai
              ja_JP: Asia/Shanghai
              pt_BR: Asia/Shanghai
              zh_Hans: 亚洲/上海
            value: Asia/Shanghai
          - icon: null
            label:
              en_US: Asia/Ho_Chi_Minh
              ja_JP: Asia/Ho_Chi_Minh
              pt_BR: Ásia/Ho Chi Minh
              zh_Hans: 亚洲/胡志明市
            value: Asia/Ho_Chi_Minh
          - icon: null
            label:
              en_US: Asia/Tokyo
              ja_JP: Asia/Tokyo
              pt_BR: Asia/Tokyo
              zh_Hans: 亚洲/东京
            value: Asia/Tokyo
          - icon: null
            label:
              en_US: Asia/Dubai
              ja_JP: Asia/Dubai
              pt_BR: Asia/Dubai
              zh_Hans: 亚洲/迪拜
            value: Asia/Dubai
          - icon: null
            label:
              en_US: Asia/Kolkata
              ja_JP: Asia/Kolkata
              pt_BR: Asia/Kolkata
              zh_Hans: 亚洲/加尔各答
            value: Asia/Kolkata
          - icon: null
            label:
              en_US: Asia/Seoul
              ja_JP: Asia/Seoul
              pt_BR: Asia/Seoul
              zh_Hans: 亚洲/首尔
            value: Asia/Seoul
          - icon: null
            label:
              en_US: Asia/Singapore
              ja_JP: Asia/Singapore
              pt_BR: Asia/Singapore
              zh_Hans: 亚洲/新加坡
            value: Asia/Singapore
          - icon: null
            label:
              en_US: Europe/London
              ja_JP: Europe/London
              pt_BR: Europe/London
              zh_Hans: 欧洲/伦敦
            value: Europe/London
          - icon: null
            label:
              en_US: Europe/Berlin
              ja_JP: Europe/Berlin
              pt_BR: Europe/Berlin
              zh_Hans: 欧洲/柏林
            value: Europe/Berlin
          - icon: null
            label:
              en_US: Europe/Moscow
              ja_JP: Europe/Moscow
              pt_BR: Europe/Moscow
              zh_Hans: 欧洲/莫斯科
            value: Europe/Moscow
          - icon: null
            label:
              en_US: Australia/Sydney
              ja_JP: Australia/Sydney
              pt_BR: Australia/Sydney
              zh_Hans: 澳大利亚/悉尼
            value: Australia/Sydney
          - icon: null
            label:
              en_US: Pacific/Auckland
              ja_JP: Pacific/Auckland
              pt_BR: Pacific/Auckland
              zh_Hans: 太平洋/奥克兰
            value: Pacific/Auckland
          - icon: null
            label:
              en_US: Africa/Cairo
              ja_JP: Africa/Cairo
              pt_BR: Africa/Cairo
              zh_Hans: 非洲/开罗
            value: Africa/Cairo
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        params:
          format: ''
          timezone: ''
        plugin_id: null
        plugin_unique_identifier: ''
        provider_icon: /console/api/workspaces/current/tool-provider/builtin/time/icon
        provider_id: time
        provider_name: time
        provider_type: builtin
        selected: false
        title: 获取当前时间
        tool_configurations:
          format:
            type: mixed
            value: '%Y-%m-%d %H:%M:%S'
          timezone:
            type: constant
            value: Asia/Shanghai
        tool_description: 一个用于获取当前时间的工具。
        tool_label: 获取当前时间
        tool_name: current_time
        tool_node_version: '2'
        tool_parameters: {}
        type: tool
      height: 113
      id: '1782441089142'
      position:
        x: 1716
        y: 60.66666666666663
      positionAbsolute:
        x: 1716
        y: 60.66666666666663
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: mysql
          form: llm
          human_description:
            en_US: Used for selecting the database type, mysql, oracle, oracle11g,
              postgresql or mssql.
            ja_JP: Used for selecting the database type, mysql, oracle, oracle11g,
              postgresql or mssql.
            pt_BR: Used for selecting the database type, mysql, oracle, oracle11g,
              postgresql or mssql.
            zh_Hans: 用于选择数据库类型，mysql、oracle、oracle11g、postgresql或mssql。
          label:
            en_US: Database type
            ja_JP: Database type
            pt_BR: Database type
            zh_Hans: 数据库类型
          llm_description: ''
          max: null
          min: null
          name: db_type
          options:
          - icon: ''
            label:
              en_US: MySQL
              ja_JP: MySQL
              pt_BR: MySQL
              zh_Hans: MySQL
            value: mysql
          - icon: ''
            label:
              en_US: Oracle
              ja_JP: Oracle
              pt_BR: Oracle
              zh_Hans: Oracle
            value: oracle
          - icon: ''
            label:
              en_US: Oracle11g
              ja_JP: Oracle11g
              pt_BR: Oracle11g
              zh_Hans: Oracle11g
            value: oracle11g
          - icon: ''
            label:
              en_US: PostgreSQL
              ja_JP: PostgreSQL
              pt_BR: PostgreSQL
              zh_Hans: PostgreSQL
            value: postgresql
          - icon: ''
            label:
              en_US: Microsoft SQL Server
              ja_JP: Microsoft SQL Server
              pt_BR: Microsoft SQL Server
              zh_Hans: Microsoft SQL Server
            value: mssql
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: localhost
          form: llm
          human_description:
            en_US: Database hostname or IP address (Original string, not URL-encoded
              string).
            ja_JP: Database hostname or IP address (Original string, not URL-encoded
              string).
            pt_BR: Database hostname or IP address (Original string, not URL-encoded
              string).
            zh_Hans: 数据库的主机名或IP地址（原始字符串，非URL编码字符串）。
          label:
            en_US: Database Host
            ja_JP: Database Host
            pt_BR: Database Host
            zh_Hans: 数据库地址
          llm_description: ''
          max: null
          min: null
          name: db_host
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database port.
            ja_JP: Database port.
            pt_BR: Database port.
            zh_Hans: 数据库的端口。
          label:
            en_US: Port
            ja_JP: Port
            pt_BR: Port
            zh_Hans: 端口
          llm_description: ''
          max: null
          min: null
          name: db_port
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database username (Original string, not URL-encoded string).
            ja_JP: Database username (Original string, not URL-encoded string).
            pt_BR: Database username (Original string, not URL-encoded string).
            zh_Hans: 数据库的用户名（原始字符串，非URL编码字符串）。
          label:
            en_US: Username
            ja_JP: Username
            pt_BR: Username
            zh_Hans: 用户名
          llm_description: ''
          max: null
          min: null
          name: db_username
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database password (Original string, not URL-encoded string).
            ja_JP: Database password (Original string, not URL-encoded string).
            pt_BR: Database password (Original string, not URL-encoded string).
            zh_Hans: 数据库的密码（原始字符串，非URL编码字符串）。
          label:
            en_US: Password
            ja_JP: Password
            pt_BR: Password
            zh_Hans: 密码
          llm_description: ''
          max: null
          min: null
          name: db_password
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: secret-input
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database name (Original string, not URL-encoded string).
            ja_JP: Database name (Original string, not URL-encoded string).
            pt_BR: Database name (Original string, not URL-encoded string).
            zh_Hans: 数据库的名称（原始字符串，非URL编码字符串）。
          label:
            en_US: Database name
            ja_JP: Database name
            pt_BR: Database name
            zh_Hans: 库名
          llm_description: ''
          max: null
          min: null
          name: db_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'Database properties, for example: alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt'
            ja_JP: 'Database properties, for example: alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt'
            pt_BR: 'Database properties, for example: alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt'
            zh_Hans: 数据库属性，例如：alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt
          label:
            en_US: Database properties
            ja_JP: Database properties
            pt_BR: Database properties
            zh_Hans: 数据库属性
          llm_description: ''
          max: null
          min: null
          name: db_properties
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'SQL query statement, for example: select * from tbl_name'
            ja_JP: 'SQL query statement, for example: select * from tbl_name'
            pt_BR: 'SQL query statement, for example: select * from tbl_name'
            zh_Hans: SQL查询语句，例如：select * from tbl_name
          label:
            en_US: Query SQL
            ja_JP: Query SQL
            pt_BR: Query SQL
            zh_Hans: SQL查询语句
          llm_description: 'SQL query statement, for example: select * from tbl_name'
          max: null
          min: null
          name: query_sql
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: markdown
          form: form
          human_description:
            en_US: Used for selecting the output format, markdown or json.
            ja_JP: Used for selecting the output format, markdown or json.
            pt_BR: Used for selecting the output format, markdown or json.
            zh_Hans: 用于选择输出格式，markdown或json。
          label:
            en_US: Output format
            ja_JP: Output format
            pt_BR: Output format
            zh_Hans: 输出格式
          llm_description: ''
          max: null
          min: null
          name: output_format
          options:
          - icon: ''
            label:
              en_US: MARKDOWN
              ja_JP: MARKDOWN
              pt_BR: MARKDOWN
              zh_Hans: MARKDOWN
            value: markdown
          - icon: ''
            label:
              en_US: JSON
              ja_JP: JSON
              pt_BR: JSON
              zh_Hans: JSON
            value: json
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        params:
          db_host: ''
          db_name: ''
          db_password: ''
          db_port: ''
          db_properties: ''
          db_type: ''
          db_username: ''
          output_format: ''
          query_sql: ''
        plugin_id: junjiem/db_query
        plugin_unique_identifier: junjiem/db_query:0.0.11@2eae0951f13c4e8daa099310d706c9502c349236bca81fcc996f2aea9524c97c
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=3afb9f68-10e5-4ae6-aa52-22d27c69b253&filename=ce2ce5af47e39e9476fc06eea7fbd05446ad16043d4d16c671e69a3c650a976a.svg
        provider_id: junjiem/db_query/db_query
        provider_name: junjiem/db_query/db_query
        provider_type: builtin
        selected: false
        title: 查询目前计划表
        tool_configurations:
          output_format:
            type: constant
            value: json
        tool_description: 数据库SQL查询工具。
        tool_label: SQL查询
        tool_name: sql_query
        tool_node_version: '2'
        tool_parameters:
          db_host:
            type: mixed
            value: '{{#env.IP#}}'
          db_name:
            type: mixed
            value: '{{#env.sql#}}'
          db_password:
            type: mixed
            value: '{{#env.password1#}}'
          db_port:
            type: variable
            value:
            - env
            - port
          db_properties:
            type: mixed
            value: ''
          db_type:
            type: constant
            value: mysql
          db_username:
            type: mixed
            value: '{{#env.User#}}'
          query_sql:
            type: mixed
            value: SELECT itinerary_id, trip_id, title, place_name, DATE_FORMAT(DATE_ADD(start_time,
              INTERVAL 8 HOUR), '%Y-%m-%d %H:%i:%s') AS start_time, DATE_FORMAT(DATE_ADD(end_time,
              INTERVAL 8 HOUR), '%Y-%m-%d %H:%i:%s') AS end_time, itinerary_type,
              DATE_FORMAT(DATE_ADD(reminder_time, INTERVAL 8 HOUR), '%Y-%m-%d %H:%i:%s')
              AS reminder_time, is_initial, status FROM {{#env.TABLE_ITINERARY_ITEMS#}}
              WHERE trip_id = {{#1782285385726.tour_id#}} ORDER BY start_time
              ASC;
        type: tool
      height: 87
      id: '1782441291535'
      position:
        x: 106.66390513730948
        y: 267.2210635072012
      positionAbsolute:
        x: 106.66390513730948
        y: 267.2210635072012
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import json\n\n\ndef main(db_result):\n    if isinstance(db_result,\
          \ dict):\n        records = db_result.get(\"records\", [])\n    elif isinstance(db_result,\
          \ list):\n        records = db_result\n    else:\n        records = []\n\
          \n    if not isinstance(records, list):\n        records = []\n\n    content\
          \ = json.dumps(\n        records,\n        ensure_ascii=False,\n       \
          \ default=str,\n    )\n    return {\n        \"content\": content,\n        \"documents\": [\n        \
          \    {\n                \"content\": content,\n                \"title\"\
          : \"当前行程数据\",\n                \"metadata\": {\n                    \"source\"\
          : \"agentictour_mysql\",\n                    \"record_count\": len(records),\n\
          \                },\n            }\n        ]\n    }"
        code_language: python3
        desc: 将数据库 records 转换为 Agent context 要求的 content/title/metadata 文档结构
        outputs:
          content:
            children: null
            type: string
          documents:
            children: null
            type: array[object]
        selected: false
        title: 格式化行程上下文
        type: code
        variables:
        - value_selector:
          - '1782441291535'
          - json
          value_type: object
          variable: db_result
      height: 111
      id: hikari_itinerary_context_formatter_v1
      position:
        x: 421.08636076522225
        y: 267.2210635072012
      positionAbsolute:
        x: 421.08636076522225
        y: 267.2210635072012
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: false
        isInLoop: false
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        prompt_config:
          jinja2_variables: []
        prompt_template:
        - id: hikari-reminder-system-v2
          role: system
          text: 你是旅行陪伴助手 Hikari，负责处理后端已经判定到期的备忘录或日程提醒。Workflow 提供的行程、备忘录、天气和时间是本次提醒的基准数据。只输出一条及时、温柔、克制的用户提醒正文，不重新判断是否到期，不输出分析、JSON 或工具过程。不得编造天气、地点、时间和行程；信息缺失时只使用已确认内容。
        - id: hikari-reminder-user-v2
          role: user
          text: '后端触发说明：{{#1782285385726.user_query#}}

            当前时间：{{#1782441089142.text#}}

            当前位置：{{#1782285385726.location_name#}}（{{#1782285385726.longitude#}},{{#1782285385726.latitude#}}）

            当前行程：{{#hikari_itinerary_context_formatter_v1.content#}}

            备忘录：{{#17836716058920.text#}}

            天气：{{#1783673975969.text#}}


            要求：

            1. 以“后端触发说明”为当前唯一提醒目标，不要因为查询结果中存在其他行程或备忘录而额外发送无关提醒。

            2. 首项出发提醒：概括下一安排，并结合可靠天气和后端已附带的无时间备忘录给出必要携带提示。

            3. 下一行程提醒：说明下一安排、地点、开始时间和是否需要出发。

            4. 备忘录提醒：直接提醒后端触发说明中的备忘内容，不额外扩写无关建议。

            5. 控制在 120 个汉字以内；重要时间和地点必须清楚。'
        selected: false
        structured_output_enabled: false
        title: 用户提醒
        type: llm
        vision:
          enabled: false
      height: 87
      id: '17836645655680'
      position:
        x: 2056.5390906831108
        y: 60.66666666666663
      positionAbsolute:
        x: 2056.5390906831108
        y: 60.66666666666663
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        desc: 系统提示
        outputs:
        - value_selector:
          - '17836645655680'
          - text
          value_type: string
          variable: reply
        - value_selector:
          - hikari_itinerary_context_formatter_v1
          - content
          value_type: string
          variable: itinerary_context
        - value_selector:
          - '17836716058920'
          - text
          value_type: string
          variable: memo_context
        - value_selector:
          - '1783673975969'
          - text
          value_type: string
          variable: weather_context
        - value_selector:
          - '1782441089142'
          - text
          value_type: string
          variable: current_time
        selected: false
        title: 输出 3
        type: end
      height: 115
      id: '1783664577609'
      position:
        x: 2426.620846966372
        y: 60.66666666666663
      positionAbsolute:
        x: 2426.620846966372
        y: 60.66666666666663
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        desc: ''
        isInIteration: false
        isInLoop: false
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: mysql
          form: llm
          human_description:
            en_US: Used for selecting the database type, mysql, oracle, oracle11g,
              postgresql or mssql.
            ja_JP: Used for selecting the database type, mysql, oracle, oracle11g,
              postgresql or mssql.
            pt_BR: Used for selecting the database type, mysql, oracle, oracle11g,
              postgresql or mssql.
            zh_Hans: 用于选择数据库类型，mysql、oracle、oracle11g、postgresql或mssql。
          label:
            en_US: Database type
            ja_JP: Database type
            pt_BR: Database type
            zh_Hans: 数据库类型
          llm_description: ''
          max: null
          min: null
          name: db_type
          options:
          - icon: ''
            label:
              en_US: MySQL
              ja_JP: MySQL
              pt_BR: MySQL
              zh_Hans: MySQL
            value: mysql
          - icon: ''
            label:
              en_US: Oracle
              ja_JP: Oracle
              pt_BR: Oracle
              zh_Hans: Oracle
            value: oracle
          - icon: ''
            label:
              en_US: Oracle11g
              ja_JP: Oracle11g
              pt_BR: Oracle11g
              zh_Hans: Oracle11g
            value: oracle11g
          - icon: ''
            label:
              en_US: PostgreSQL
              ja_JP: PostgreSQL
              pt_BR: PostgreSQL
              zh_Hans: PostgreSQL
            value: postgresql
          - icon: ''
            label:
              en_US: Microsoft SQL Server
              ja_JP: Microsoft SQL Server
              pt_BR: Microsoft SQL Server
              zh_Hans: Microsoft SQL Server
            value: mssql
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: localhost
          form: llm
          human_description:
            en_US: Database hostname or IP address (Original string, not URL-encoded
              string).
            ja_JP: Database hostname or IP address (Original string, not URL-encoded
              string).
            pt_BR: Database hostname or IP address (Original string, not URL-encoded
              string).
            zh_Hans: 数据库的主机名或IP地址（原始字符串，非URL编码字符串）。
          label:
            en_US: Database Host
            ja_JP: Database Host
            pt_BR: Database Host
            zh_Hans: 数据库地址
          llm_description: ''
          max: null
          min: null
          name: db_host
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database port.
            ja_JP: Database port.
            pt_BR: Database port.
            zh_Hans: 数据库的端口。
          label:
            en_US: Port
            ja_JP: Port
            pt_BR: Port
            zh_Hans: 端口
          llm_description: ''
          max: null
          min: null
          name: db_port
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database username (Original string, not URL-encoded string).
            ja_JP: Database username (Original string, not URL-encoded string).
            pt_BR: Database username (Original string, not URL-encoded string).
            zh_Hans: 数据库的用户名（原始字符串，非URL编码字符串）。
          label:
            en_US: Username
            ja_JP: Username
            pt_BR: Username
            zh_Hans: 用户名
          llm_description: ''
          max: null
          min: null
          name: db_username
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database password (Original string, not URL-encoded string).
            ja_JP: Database password (Original string, not URL-encoded string).
            pt_BR: Database password (Original string, not URL-encoded string).
            zh_Hans: 数据库的密码（原始字符串，非URL编码字符串）。
          label:
            en_US: Password
            ja_JP: Password
            pt_BR: Password
            zh_Hans: 密码
          llm_description: ''
          max: null
          min: null
          name: db_password
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: secret-input
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database name (Original string, not URL-encoded string).
            ja_JP: Database name (Original string, not URL-encoded string).
            pt_BR: Database name (Original string, not URL-encoded string).
            zh_Hans: 数据库的名称（原始字符串，非URL编码字符串）。
          label:
            en_US: Database name
            ja_JP: Database name
            pt_BR: Database name
            zh_Hans: 库名
          llm_description: ''
          max: null
          min: null
          name: db_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'Database properties, for example: alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt'
            ja_JP: 'Database properties, for example: alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt'
            pt_BR: 'Database properties, for example: alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt'
            zh_Hans: 数据库属性，例如：alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt
          label:
            en_US: Database properties
            ja_JP: Database properties
            pt_BR: Database properties
            zh_Hans: 数据库属性
          llm_description: ''
          max: null
          min: null
          name: db_properties
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'SQL query statement, for example: select * from tbl_name'
            ja_JP: 'SQL query statement, for example: select * from tbl_name'
            pt_BR: 'SQL query statement, for example: select * from tbl_name'
            zh_Hans: SQL查询语句，例如：select * from tbl_name
          label:
            en_US: Query SQL
            ja_JP: Query SQL
            pt_BR: Query SQL
            zh_Hans: SQL查询语句
          llm_description: 'SQL query statement, for example: select * from tbl_name'
          max: null
          min: null
          name: query_sql
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: markdown
          form: form
          human_description:
            en_US: Used for selecting the output format, markdown or json.
            ja_JP: Used for selecting the output format, markdown or json.
            pt_BR: Used for selecting the output format, markdown or json.
            zh_Hans: 用于选择输出格式，markdown或json。
          label:
            en_US: Output format
            ja_JP: Output format
            pt_BR: Output format
            zh_Hans: 输出格式
          llm_description: ''
          max: null
          min: null
          name: output_format
          options:
          - icon: ''
            label:
              en_US: MARKDOWN
              ja_JP: MARKDOWN
              pt_BR: MARKDOWN
              zh_Hans: MARKDOWN
            value: markdown
          - icon: ''
            label:
              en_US: JSON
              ja_JP: JSON
              pt_BR: JSON
              zh_Hans: JSON
            value: json
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        params:
          db_host: ''
          db_name: ''
          db_password: ''
          db_port: ''
          db_properties: ''
          db_type: ''
          db_username: ''
          output_format: ''
          query_sql: ''
        plugin_id: junjiem/db_query
        plugin_unique_identifier: junjiem/db_query:0.0.11@2eae0951f13c4e8daa099310d706c9502c349236bca81fcc996f2aea9524c97c
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=3afb9f68-10e5-4ae6-aa52-22d27c69b253&filename=ce2ce5af47e39e9476fc06eea7fbd05446ad16043d4d16c671e69a3c650a976a.svg
        provider_id: junjiem/db_query/db_query
        provider_name: junjiem/db_query/db_query
        provider_type: builtin
        selected: false
        title: 备忘录查询
        tool_configurations:
          output_format:
            type: constant
            value: markdown
        tool_description: 数据库SQL查询工具。
        tool_label: SQL查询
        tool_name: sql_query
        tool_node_version: '2'
        tool_parameters:
          db_host:
            type: mixed
            value: '{{#env.IP#}}'
          db_name:
            type: mixed
            value: '{{#env.sql#}}'
          db_password:
            type: mixed
            value: '{{#env.password1#}}'
          db_port:
            type: variable
            value:
            - env
            - port
          db_properties:
            type: mixed
            value: ''
          db_type:
            type: constant
            value: mysql
          db_username:
            type: mixed
            value: '{{#env.User#}}'
          query_sql:
            type: mixed
            value: SELECT memo_id, memo_text, DATE_FORMAT(DATE_ADD(reminder_time,
              INTERVAL 8 HOUR), '%Y-%m-%d %H:%i:%s') AS reminder_time, DATE_FORMAT(DATE_ADD(reminded_at,
              INTERVAL 8 HOUR), '%Y-%m-%d %H:%i:%s') AS reminded_at FROM {{#env.TABLE_MEMOS#}}
              WHERE trip_id = {{#1782285385726.tour_id#}} ORDER BY created_at ASC;
        type: tool
      height: 87
      id: '17836716058920'
      position:
        x: 1060.3501400560242
        y: 69.97198879551821
      positionAbsolute:
        x: 1060.3501400560242
        y: 69.97198879551821
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import json\nimport re\n\n\ndef _clean(text):\n    text = str(text\
          \ or \"\").strip()\n    text = re.sub(r\"<think>.*?</think>\\s*\", \"\"\
          , text, flags=re.S)\n    text = re.sub(r\"^```(?:json)?\\s*|\\s*```$\",\
          \ \"\", text, flags=re.I)\n    return text.strip()\n\n\ndef main(raw_text:\
          \ str):\n    text = _clean(raw_text)\n    try:\n        payload = json.loads(text)\n\
          \    except Exception:\n        return {\"reply\": \"候选方案输出格式无效，请重新生成。\"\
          , \"cancelled_itinerary_ids\": [], \"itinerary_items\": []}\n\n    if not\
          \ isinstance(payload, dict):\n        return {\"reply\": \"候选方案输出必须是 JSON 对象。\"\
          , \"cancelled_itinerary_ids\": [], \"itinerary_items\": []}\n    reply =\
          \ str(payload.get(\"reply\") or \"候选方案缺少用户说明。\")\n    items = payload.get(\"\
          itinerary_items\")\n    if not isinstance(items, list):\n        items =\
          \ []\n    items = [item for item in items if isinstance(item, dict)]\n \
          \   cancelled = payload.get(\"cancelled_itinerary_ids\")\n    if not isinstance(cancelled,\
          \ list):\n        cancelled = []\n    cancelled = [item for item in cancelled\
          \ if isinstance(item, int) and not isinstance(item, bool)]\n    return {\"\
          reply\": reply, \"cancelled_itinerary_ids\": cancelled, \"itinerary_items\"\
          : items}"
        code_language: python3
        desc: 规范化模型输出，保证后端获得稳定字段类型
        outputs:
          cancelled_itinerary_ids:
            children: null
            type: array[number]
          itinerary_items:
            children: null
            type: array[object]
          reply:
            children: null
            type: string
        selected: false
        title: 规范化重规划输出
        type: code
        variables:
        - value_selector:
          - '17824362484760'
          - text
          value_type: string
          variable: raw_text
      height: 95
      id: hikari_replan_parser_v2
      position:
        x: 1560
        y: 252
      positionAbsolute:
        x: 1560
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        agent_parameters:
          context:
            type: variable
            value:
            - hikari_itinerary_context_formatter_v1
            - documents
          instruction:
            type: constant
            value: '你是 Hikari 的统一主动检查 Agent。你必须在三种结果中选择一种：无需提示、聊天主动推荐、日程重推荐。

              数据库完整结构：{{#env.DB_SCHEMA_CONTEXT#}}

              数据库查询规范：{{#env.DB_QUERY_RULES#}}


              检查依据：当前时间、未来行程、城市天气、当前位置和必要的路线信息。涉及数据库事实时必须严格按照上述结构和规范调用 SQL查询 工具，只使用真实表名和字段名；context 是基准行程快照，最新查询与其冲突时以同一 tour_id 的最新 SELECT 结果为准。


              decision=chat_recommendation 的条件：

              - 当前没有必须修改日程的明确变化，但有一条结合实时位置、时间和行程的实用陪伴建议；

              - 例如休息、吃饭、附近落脚点、出发提示等，且不是泛泛建议或重复提醒。


              decision=itinerary_replan 的条件：

              - 景点闭馆、明显延迟、取消或营业时间与行程冲突；

              - 恶劣天气、安全风险或交通变化明显影响即将执行的安排；

              - 根据可靠路线结果，用户很可能无法按时到达；

              - 其他需要用户现在调整、出发或避险的明确事项。


              decision=false 的条件：

              - 一切正常；

              - 只有泛泛建议、重复提醒或没有新增信息；

              - 工具不可用、数据不足，无法确认真实变化；

              - 变化与未来待执行行程无关。


              规则：

              1. 不能为了生成通知而夸大风险。

              2. 没有可靠证据且没有真正有价值的陪伴建议时必须返回 false。

              3. chat_recommendation 时 reply 直接给出简短、可执行的聊天式主动建议。后端会把它写入 ai_advice 和该旅行的 chat_messages，不会创建通知，也不会修改行程。

              4. itinerary_replan 时 reply 只能客观告知“发生了什么、影响哪个行程以及影响程度”。不得提供替代景点、调整时间、路线或任何解决方案；不得生成候选行程，也不能声称已经修改行程。是否同意重新推荐由客户端按钮处理。

              5. false 时 reply 简短记录检查结论，后端只保存检查记录，不会通知用户或写入聊天消息。

              6. 最终只输出合法 JSON，不要 Markdown 或思考过程，decision 只能是 false、chat_recommendation、itinerary_replan：

              {"reply":"检查结论或用户通知正文","decision":"false"}'
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: deepseek-v4-flash
              model_type: llm
              provider: langgenius/deepseek/deepseek
              type: model-selector
          query:
            type: constant
            value: '自动检查任务：{{#1782285385726.user_query#}}

              城市编码：{{#1782285385726.city_adcode#}}

              当前位置：{{#1782285385726.location_name#}}（{{#1782285385726.longitude#}},{{#1782285385726.latitude#}}）

              请检查上下文中的未来待执行行程，只返回 reply 和 decision。'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: 一个用于获取当前时间的工具。
              parameters: {}
              provider_name: time
              provider_show_name: time
              settings:
                format:
                  value:
                    type: mixed
                    value: '%Y-%m-%d %H:%M:%S'
                timezone:
                  value:
                    type: constant
                    value: Asia/Shanghai
              tool_description: 一个用于获取当前时间的工具。
              tool_label: 获取当前时间
              tool_name: current_time
              type: builtin
            - enabled: true
              extra:
                description: '查询指定城市或区县的天气。


                  适用场景：

                  - 用户问今天/现在天气

                  - 用户问是否需要带伞

                  - 用户问穿衣建议

                  - 系统自动生成行前提醒


                  参数：

                  - adcode: 高德行政区编码，例如上海 310000，北京 110000

                  - extensions: base 表示实况天气，all 表示天气预报'
              parameters:
                adcode:
                  auto: 1
                  value: null
                extensions:
                  auto: 1
                  value: null
              provider_name: travel-mcp
              provider_show_name: AI旅游MCP
              settings: {}
              tool_description: '查询指定城市或区县的天气。


                适用场景：

                - 用户问今天/现在天气

                - 用户问是否需要带伞

                - 用户问穿衣建议

                - 系统自动生成行前提醒


                参数：

                - adcode: 高德行政区编码，例如上海 310000，北京 110000

                - extensions: base 表示实况天气，all 表示天气预报'
              tool_label: amap_weather
              tool_name: amap_weather
              type: mcp
            - enabled: true
              extra:
                description: '查询当前位置附近的地点。


                  适用场景：

                  - 用户想找附近餐厅

                  - 用户想找咖啡店

                  - 用户想找休息点

                  - 用户想找厕所、商场、景点等


                  参数：

                  - location: 经纬度，格式为 经度,纬度，例如 116.397428,39.90923

                  - keywords: 搜索关键词，例如 餐厅、咖啡、厕所、商场

                  - types: 高德 POI 类型编码，可为空

                  - radius: 搜索半径，单位米

                  - page_size: 返回数量

                  - page_num: 页码'
              parameters:
                keywords:
                  auto: 1
                  value: null
                location:
                  auto: 1
                  value: null
                page_num:
                  auto: 1
                  value: null
                page_size:
                  auto: 1
                  value: null
                radius:
                  auto: 1
                  value: null
                types:
                  auto: 1
                  value: null
              provider_name: travel-mcp
              provider_show_name: AI旅游MCP
              settings: {}
              tool_description: '查询当前位置附近的地点。


                适用场景：

                - 用户想找附近餐厅

                - 用户想找咖啡店

                - 用户想找休息点

                - 用户想找厕所、商场、景点等


                参数：

                - location: 经纬度，格式为 经度,纬度，例如 116.397428,39.90923

                - keywords: 搜索关键词，例如 餐厅、咖啡、厕所、商场

                - types: 高德 POI 类型编码，可为空

                - radius: 搜索半径，单位米

                - page_size: 返回数量

                - page_num: 页码'
              tool_label: amap_nearby_search
              tool_name: amap_nearby_search
              type: mcp
            - enabled: true
              extra:
                description: '查询两个地点之间的步行路线。


                  适用场景：

                  - 用户问怎么走

                  - 用户问步行多久

                  - 用户问是否来得及

                  - 系统判断附近地点是否适合作为推荐


                  参数：

                  - origin: 起点经纬度，格式为 经度,纬度

                  - destination: 终点经纬度，格式为 经度,纬度

                  - isindoor: 是否室内算路，0 不需要，1 需要'
              parameters:
                destination:
                  auto: 1
                  value: null
                isindoor:
                  auto: 1
                  value: null
                origin:
                  auto: 1
                  value: null
              provider_name: travel-mcp
              provider_show_name: AI旅游MCP
              settings: {}
              tool_description: '查询两个地点之间的步行路线。


                适用场景：

                - 用户问怎么走

                - 用户问步行多久

                - 用户问是否来得及

                - 系统判断附近地点是否适合作为推荐


                参数：

                - origin: 起点经纬度，格式为 经度,纬度

                - destination: 终点经纬度，格式为 经度,纬度

                - isindoor: 是否室内算路，0 不需要，1 需要'
              tool_label: amap_walking_route
              tool_name: amap_walking_route
              type: mcp
            - enabled: true
              extra:
                description: 只读数据库查询工具。真实表结构和查询规范已通过 DB_SCHEMA_CONTEXT、DB_QUERY_RULES 提供给 Agent；只能执行限定当前旅行的单条 SELECT，禁止猜表和探库。
              parameters:
                db_host:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#env.IP#}}'
                db_name:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#env.sql#}}'
                db_password:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#env.password1#}}'
                db_port:
                  auto: 0
                  value:
                    type: variable
                    value:
                    - env
                    - port
                db_properties:
                  auto: 1
                  value: null
                db_type:
                  auto: 0
                  value:
                    type: constant
                    value: mysql
                db_username:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#env.User#}}'
                query_sql:
                  auto: 1
                  value: null
              provider_name: junjiem/db_query/db_query
              provider_show_name: junjiem/db_query/db_query
              settings:
                output_format:
                  value:
                    type: constant
                    value: markdown
              tool_description: 只读数据库查询工具。仅使用 DB_SCHEMA_CONTEXT 中的表和字段，并严格遵守 DB_QUERY_RULES。
              tool_label: SQL查询
              tool_name: sql_query
              type: builtin
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: 统一判断无需提示、聊天主动推荐或日程重推荐
        memory:
          query_prompt_template: '{{#1782285385726.user_query#}}

            '
          window:
            enabled: false
            size: 50
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.39@ceea6a76b3a495de2df2a55bcea82e903d49b06f4d8e1463c2aa085657f27164
        selected: false
        title: 系统统一主动检查Agent
        tool_node_version: '2'
        type: agent
      height: 231
      id: hikari_auto_check_agent_v2
      position:
        x: 1270.8760092496725
        y: 519.9060775758438
      positionAbsolute:
        x: 1270.8760092496725
        y: 519.9060775758438
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import json\nimport re\n\n\nDECISIONS = {\"false\", \"chat_recommendation\"\
          , \"itinerary_replan\"}\n\n\ndef main(raw_text: str):\n    text = str(raw_text\
          \ or \"\").strip()\n    text = re.sub(r\"<think>.*?</think>\\s*\", \"\"\
          , text, flags=re.S)\n    text = re.sub(r\"^```(?:json)?\\s*|\\s*```$\",\
          \ \"\", text, flags=re.I).strip()\n    try:\n        payload = json.loads(text)\n\
          \    except Exception:\n        return {\"reply\": text or \"自动检查输出无法解析。\"\
          , \"decision\": \"false\"}\n    if not isinstance(payload, dict):\n    \
          \    return {\"reply\": \"自动检查输出无法解析。\", \"decision\": \"false\"}\n    decision\
          \ = str(payload.get(\"decision\") or \"false\").strip().lower()\n    if\
          \ decision not in DECISIONS:\n        decision = \"false\"\n    return {\n\
          \        \"reply\": str(payload.get(\"reply\") or \"自动检查已完成。\"),\n     \
          \   \"decision\": decision,\n    }"
        code_language: python3
        desc: 规范化模型输出，保证后端获得稳定字段类型
        outputs:
          decision:
            children: null
            type: string
          reply:
            children: null
            type: string
        selected: false
        title: 规范化自动检查输出
        type: code
        variables:
        - value_selector:
          - hikari_auto_check_agent_v2
          - text
          value_type: string
          variable: raw_text
      height: 95
      id: hikari_auto_check_parser_v2
      position:
        x: 1628.7365967563712
        y: 519.9060775758438
      positionAbsolute:
        x: 1628.7365967563712
        y: 519.9060775758438
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - hikari_auto_check_parser_v2
          - reply
          value_type: string
          variable: reply
        - value_selector:
          - hikari_auto_check_parser_v2
          - decision
          value_type: string
          variable: decision
        - value_selector:
          - hikari_itinerary_context_formatter_v1
          - content
          value_type: string
          variable: itinerary_context
        selected: false
        title: 结束-自动检查
        type: end
      height: 113
      id: hikari_auto_check_end_v2
      position:
        x: 2005.8557053123
        y: 519.9060775758438
      positionAbsolute:
        x: 2005.8557053123
        y: 519.9060775758438
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -441.00970040193056
      y: 82.76078085010192
      zoom: 0.6765946357896693
  rag_pipeline_variables: []
