workflow/旅行陪伴Hikari-完善版.yml
app:
  description: Hikari 旅行陪伴工作流：本地历史聊天、行程重规划、定时提醒、主动推荐与自动检查
  icon: 20dcbea8-aedf-43e1-afa4-46f9d8ac42a6
  icon_background: ''
  icon_type: image
  mode: workflow
  name: 旅行陪伴Hikari Workflow完善版
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: junjiem/db_query:0.0.11@2eae0951f13c4e8daa099310d706c9502c349236bca81fcc996f2aea9524c97c
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.19@5b68617c637b62d31e7f33a9f5677b76e88f81868fb04a728e208588564b72ea
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: 库名
    id: a505215c-3adf-41d3-bdd9-8099956b1ca2
    name: sql
    selector:
    - env
    - sql
    value: agentictour
    value_type: string
  - description: 用户名
    id: 8de416d2-0caa-42dc-9a8c-f8a811ac558e
    name: User
    selector:
    - env
    - User
    value: root
    value_type: string
  - description: 端口号
    id: 3a3cb0f1-f797-417b-9df6-631ee94e044a
    name: port
    selector:
    - env
    - port
    value: '3306'
    value_type: string
  - description: 数据库地址
    id: 913b68ff-50d0-4267-b316-d12841a6b292
    name: IP
    selector:
    - env
    - IP
    value: 49.232.141.47
    value_type: string
  - description: 数据库密码
    id: 31dca7fa-691a-439a-8b39-4b62795403d0
    name: password1
    selector:
    - env
    - password1
    value: ''
    value_type: secret
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 500
        file_size_limit: 500
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent
        targetType: end
      id: 1782351047886-source-1782351997056-target
      selected: false
      source: '1782351047886'
      sourceHandle: source
      target: '1782351997056'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1782285385726-source-1782441291535-target
      selected: false
      source: '1782285385726'
      sourceHandle: source
      target: '1782441291535'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: if-else
      id: 1782441291535-source-1782286303865-target
      selected: false
      source: '1782441291535'
      sourceHandle: source
      target: '1782286303865'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: agent
      id: 1782286303865-0363e60e-3402-4bea-b11c-780ef8787057-17824362484760-target
      selected: false
      source: '1782286303865'
      sourceHandle: 0363e60e-3402-4bea-b11c-780ef8787057
      target: '17824362484760'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 1782441089142-source-17836645655680-target
      selected: false
      source: '1782441089142'
      sourceHandle: source
      target: '17836645655680'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 17836645655680-source-1783664577609-target
      selected: false
      source: '17836645655680'
      sourceHandle: source
      target: '1783664577609'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: agent
      id: 1782286303865-false-1782351047886-target
      selected: false
      source: '1782286303865'
      sourceHandle: 'false'
      target: '1782351047886'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1782286303865-true-17836716058920-target
      selected: false
      source: '1782286303865'
      sourceHandle: 'true'
      target: '17836716058920'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: 1783673975969-source-1782441089142-target
      selected: false
      source: '1783673975969'
      sourceHandle: source
      target: '1782441089142'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: 17836716058920-source-1783673975969-target
      selected: false
      source: '17836716058920'
      sourceHandle: source
      target: '1783673975969'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent
        targetType: code
      id: 17824362484760-source-hikari_replan_parser_v2-target
      selected: false
      source: '17824362484760'
      sourceHandle: source
      target: hikari_replan_parser_v2
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: hikari_replan_parser_v2-source-1782437042677-target
      selected: false
      source: hikari_replan_parser_v2
      sourceHandle: source
      target: '1782437042677'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: agent
      id: 1782286303865-system_auto_check_case-hikari_auto_check_agent_v2-target
      selected: false
      source: '1782286303865'
      sourceHandle: system_auto_check_case
      target: hikari_auto_check_agent_v2
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent
        targetType: code
      id: hikari_auto_check_agent_v2-source-hikari_auto_check_parser_v2-target
      selected: false
      source: hikari_auto_check_agent_v2
      sourceHandle: source
      target: hikari_auto_check_parser_v2
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: hikari_auto_check_parser_v2-source-hikari_auto_check_end_v2-target
      selected: false
      source: hikari_auto_check_parser_v2
      sourceHandle: source
      target: hikari_auto_check_end_v2
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: 现在是系统提示，请你合理调用自己的工具，根据当前时间、用户位置、天气等等为用户提供相应的推荐。
          hide: false
          hint: 普通 workflow 没有聊天输入变量；后端调用 /workflows/run 时，把用户原始输入或系统提示放到 inputs.user_query。
          label: user_query
          options: []
          placeholder: 用户输入 / 系统提示 / 突发情况说明
          required: true
          type: paragraph
          variable: user_query
        - hide: false
          hint: ''
          label: trigger_type
          options:
          - system_auto_remind
          - system_auto_check
          - system_auto_advice
          - system_auto_accident
          - user_accident
          - user_input
          placeholder: ''
          required: true
          type: select
          variable: trigger_type
        - default: ''
          hide: false
          hint: ''
          label: tour_id
          options: []
          placeholder: ''
          required: true
          type: number
          variable: tour_id
        - default: ''
          hide: false
          hint: 高德行政区编码；允许为空，例如上海 310000
          label: city_adcode
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: city_adcode
        - default: ''
          hint: 可选；后端没有位置时传空值
          label: latitude
          options: []
          placeholder: ''
          required: false
          type: number
          variable: latitude
        - default: ''
          hint: 可选；后端没有位置时传空值
          label: longitude
          options: []
          placeholder: ''
          required: false
          type: number
          variable: longitude
        - default: ''
          hint: ''
          label: location_name
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: location_name
        - default: ''
          hide: false
          hint: 后端本地生成的会话 UUID；Dify 不负责维护会话
          label: conversation_id
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: conversation_id
        - default: '[]'
          hide: false
          hint: 后端从 chat_messages 读取并序列化的 JSON 历史消息
          label: conversation_history
          options: []
          placeholder: '[{"role":"user","content":"你好"}]'
          required: false
          type: paragraph
          variable: conversation_history
      height: 350
      id: '1782285385726'
      position:
        x: -1.457267482617624
        y: 184.19047619047615
      positionAbsolute:
        x: -1.457267482617624
        y: 184.19047619047615
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: ca255493-3164-4d27-9677-ca711af58587
            value: system_auto_remind
            varType: string
            variable_selector:
            - '1782285385726'
            - trigger_type
          id: 'true'
          logical_operator: and
        - case_id: 0363e60e-3402-4bea-b11c-780ef8787057
          conditions:
          - comparison_operator: is
            id: f2388a60-af02-4c35-952f-f8c012dfe206
            value: system_auto_accident
            varType: string
            variable_selector:
            - '1782285385726'
            - trigger_type
          - comparison_operator: is
            id: 99cd8fe5-5a75-4d88-ba23-acce05bbe41a
            value: user_accident
            varType: string
            variable_selector:
            - '1782285385726'
            - trigger_type
          id: 0363e60e-3402-4bea-b11c-780ef8787057
          logical_operator: or
        - case_id: system_auto_check_case
          conditions:
          - comparison_operator: is
            id: system-auto-check-condition-v2
            value: system_auto_check
            varType: string
            variable_selector:
            - '1782285385726'
            - trigger_type
          id: system_auto_check_case
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 330
      id: '1782286303865'
      position:
        x: 683
        y: 153.52380952380946
      positionAbsolute:
        x: 683
        y: 153.52380952380946
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        agent_parameters:
          context:
            type: variable
            value:
            - '1782441291535'
            - json
          instruction:
            type: constant
            value: '你是旅行陪伴助手 Hikari。语气温柔、克制、可靠，优先解决用户当下的旅行问题。


              输入上下文：

              - 触发类型：{{#1782285385726.trigger_type#}}

              - 旅行 ID：{{#1782285385726.tour_id#}}

              - 城市编码：{{#1782285385726.city_adcode#}}

              - 当前坐标：经度 {{#1782285385726.longitude#}}，纬度 {{#1782285385726.latitude#}}

              - 位置名称：{{#1782285385726.location_name#}}

              - 本地会话 ID：{{#1782285385726.conversation_id#}}

              - 本地历史消息：{{#1782285385726.conversation_history#}}


              行为规则：

              1. 回答必须结合本地历史消息，但不得声称 Dify 保存了会话。

              2. 天气、附近地点、路线耗时等实时信息必须调用对应工具，工具失败时明确说明无法确认。

              3. 查询行程或数据库时只允许 SELECT；严禁 INSERT、UPDATE、DELETE、DROP、ALTER。

              4. 不得编造营业时间、票价、距离、天气、交通状态和用户行程。

              5. trigger_type=system_auto_advice 时，只在确实有价值时给出一条简短主动建议，不要重复已有行程。

              6. 普通聊天直接回答；需要行动时优先给出一个明确可执行的下一步。

              7. 只输出最终回复正文，不输出 JSON、思考过程、工具调用过程或 Markdown 代码块。'
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: deepseek-v4-flash
              model_type: llm
              provider: langgenius/deepseek/deepseek
              type: model-selector
          query:
            type: constant
            value: '本地历史消息：{{#1782285385726.conversation_history#}}


              当前用户消息：{{#1782285385726.user_query#}}'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: 一个用于获取当前时间的工具。
              parameters: {}
              provider_name: time
              provider_show_name: time
              settings:
                format:
                  value:
                    type: mixed
                    value: '%Y-%m-%d %H:%M:%S'
                timezone:
                  value:
                    type: constant
                    value: UTC
              tool_description: 一个用于获取当前时间的工具。
              tool_label: 获取当前时间
              tool_name: current_time
              type: builtin
            - enabled: true
              extra:
                description: 数据库SQL查询工具。
              parameters:
                db_host:
                  auto: 1
                  value: null
                db_name:
                  auto: 1
                  value: null
                db_password:
                  auto: 1
                  value: null
                db_port:
                  auto: 1
                  value: null
                db_properties:
                  auto: 1
                  value: null
                db_type:
                  auto: 1
                  value: null
                db_username:
                  auto: 1
                  value: null
                query_sql:
                  auto: 1
                  value: null
              provider_name: junjiem/db_query/db_query
              provider_show_name: junjiem/db_query/db_query
              settings:
                output_format:
                  value:
                    type: constant
                    value: markdown
              tool_description: 数据库SQL查询工具。
              tool_label: SQL查询
              tool_name: sql_query
              type: builtin
            - enabled: true
              extra:
                description: '查询指定城市或区县的天气。


                  适用场景：

                  - 用户问今天/现在天气

                  - 用户问是否需要带伞

                  - 用户问穿衣建议

                  - 系统自动生成行前提醒


                  参数：

                  - adcode: 高德行政区编码，例如上海 310000，北京 110000

                  - extensions: base 表示实况天气，all 表示天气预报'
              parameters:
                adcode:
                  auto: 1
                  value: null
                extensions:
                  auto: 1
                  value: null
              provider_name: travel-mcp
              provider_show_name: AI旅游MCP
              settings: {}
              tool_description: '查询指定城市或区县的天气。


                适用场景：

                - 用户问今天/现在天气

                - 用户问是否需要带伞

                - 用户问穿衣建议

                - 系统自动生成行前提醒


                参数：

                - adcode: 高德行政区编码，例如上海 310000，北京 110000

                - extensions: base 表示实况天气，all 表示天气预报'
              tool_label: amap_weather
              tool_name: amap_weather
              type: mcp
            - enabled: true
              extra:
                description: '查询当前位置附近的地点。


                  适用场景：

                  - 用户想找附近餐厅

                  - 用户想找咖啡店

                  - 用户想找休息点

                  - 用户想找厕所、商场、景点等


                  参数：

                  - location: 经纬度，格式为 经度,纬度，例如 116.397428,39.90923

                  - keywords: 搜索关键词，例如 餐厅、咖啡、厕所、商场

                  - types: 高德 POI 类型编码，可为空

                  - radius: 搜索半径，单位米

                  - page_size: 返回数量

                  - page_num: 页码'
              parameters:
                keywords:
                  auto: 1
                  value: null
                location:
                  auto: 1
                  value: null
                page_num:
                  auto: 1
                  value: null
                page_size:
                  auto: 1
                  value: null
                radius:
                  auto: 1
                  value: null
                types:
                  auto: 1
                  value: null
              provider_name: travel-mcp
              provider_show_name: AI旅游MCP
              settings: {}
              tool_description: '查询当前位置附近的地点。


                适用场景：

                - 用户想找附近餐厅

                - 用户想找咖啡店

                - 用户想找休息点

                - 用户想找厕所、商场、景点等


                参数：

                - location: 经纬度，格式为 经度,纬度，例如 116.397428,39.90923

                - keywords: 搜索关键词，例如 餐厅、咖啡、厕所、商场

                - types: 高德 POI 类型编码，可为空

                - radius: 搜索半径，单位米

                - page_size: 返回数量

                - page_num: 页码'
              tool_label: amap_nearby_search
              tool_name: amap_nearby_search
              type: mcp
            - enabled: true
              extra:
                description: '查询两个地点之间的步行路线。


                  适用场景：

                  - 用户问怎么走

                  - 用户问步行多久

                  - 用户问是否来得及

                  - 系统判断附近地点是否适合作为推荐


                  参数：

                  - origin: 起点经纬度，格式为 经度,纬度

                  - destination: 终点经纬度，格式为 经度,纬度

                  - isindoor: 是否室内算路，0 不需要，1 需要'
              parameters:
                destination:
                  auto: 1
                  value: null
                isindoor:
                  auto: 1
                  value: null
                origin:
                  auto: 1
                  value: null
              provider_name: travel-mcp
              provider_show_name: AI旅游MCP
              settings: {}
              tool_description: '查询两个地点之间的步行路线。


                适用场景：

                - 用户问怎么走

                - 用户问步行多久

                - 用户问是否来得及

                - 系统判断附近地点是否适合作为推荐


                参数：

                - origin: 起点经纬度，格式为 经度,纬度

                - destination: 终点经纬度，格式为 经度,纬度

                - isindoor: 是否室内算路，0 不需要，1 需要'
              tool_label: amap_walking_route
              tool_name: amap_walking_route
              type: mcp
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: 为用户提供建议，充当聊天机器人
        memory:
          query_prompt_template: '{{#1782285385726.user_query#}}

            '
          window:
            enabled: false
            size: 50
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.39@ceea6a76b3a495de2df2a55bcea82e903d49b06f4d8e1463c2aa085657f27164
        selected: false
        title: 聊天主Agent
        tool_node_version: '2'
        type: agent
      height: 215
      id: '1782351047886'
      position:
        x: 1270.8760092496725
        y: 521.1856335457404
      positionAbsolute:
        x: 1270.8760092496725
        y: 521.1856335457404
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1782351047886'
          - text
          variable: reply
        selected: false
        title: 结束-聊天回复
        type: end
      height: 88
      id: '1782351997056'
      position:
        x: 1765.408209516841
        y: 521.1856335457404
      positionAbsolute:
        x: 1765.408209516841
        y: 521.1856335457404
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        agent_parameters:
          context:
            type: variable
            value:
            - '1782441291535'
            - json
          instruction:
            type: constant
            value: "你是 Hikari 的行程调整 Agent。根据用户原因、当前行程、当前位置、时间、天气和路线信息，提出最小且可执行的调整。\n\n重要约束：\n1. 数据库只允许 SELECT，不能直接修改任何表。\n2. 只调整当前时间之后、确实受影响的安排；已完成或已开始的行程不能修改。\n3. itinerary_items 只返回后端需要创建的候选新行程，不要重复输出未变化的旧行程。\n4. 每项必须包含 title、place_name、start_time、end_time、itinerary_type、status。\n5. start_time/end_time 使用 ISO 8601；end_time 必须晚于 start_time。\n6. itinerary_type 只能是 play 或 transit；transit 必须提供 reminder_time。\n7. 不确定的营业时间、票价、天气或路线必须先调用工具；无法确认时不要伪造候选行程。\n8. 用户没有明确同意前，只能提出方案，不能声称已经修改成功。\n\n最终只输出一个合法 JSON 对象，不要输出 Markdown 代码块或思考过程：\n{\n  \"reply\": \"面向用户的简洁说明\",\n  \"itinerary_items\": [\n    {\n      \"title\": \"候选行程标题\",\n      \"place_name\": \"地点名称\",\n      \"start_time\": \"2026-08-20T14:00:00\",\n      \"end_time\": \"2026-08-20T15:00:00\",\n      \"itinerary_type\": \"play\",\n      \"reminder_time\": null,\n      \"is_initial\": false,\n      \"status\": \"pending\"\n    }\n  ]\n}\n没有可靠候选项时 itinerary_items 返回空数组。"
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: deepseek-v4-flash
              model_type: llm
              provider: langgenius/deepseek/deepseek
              type: model-selector
          query:
            type: constant
            value: '触发类型：{{#1782285385726.trigger_type#}}

              用户说明：{{#1782285385726.user_query#}}

              当前位置：{{#1782285385726.location_name#}}（{{#1782285385726.longitude#}},{{#1782285385726.latitude#}}）

              城市编码：{{#1782285385726.city_adcode#}}

              当前行程数据由上下文提供，请提出最小调整方案。'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: '查询指定城市或区县的天气。


                  适用场景：

                  - 用户问今天/现在天气

                  - 用户问是否需要带伞

                  - 用户问穿衣建议

                  - 系统自动生成行前提醒


                  参数：

                  - adcode: 高德行政区编码，例如上海 310000，北京 110000

                  - extensions: base 表示实况天气，all 表示天气预报'
              parameters:
                adcode:
                  auto: 1
                  value: null
                extensions:
                  auto: 1
                  value: null
              provider_name: travel-mcp
              provider_show_name: AI旅游MCP
              settings: {}
              tool_description: '查询指定城市或区县的天气。


                适用场景：

                - 用户问今天/现在天气

                - 用户问是否需要带伞

                - 用户问穿衣建议

                - 系统自动生成行前提醒


                参数：

                - adcode: 高德行政区编码，例如上海 310000，北京 110000

                - extensions: base 表示实况天气，all 表示天气预报'
              tool_label: amap_weather
              tool_name: amap_weather
              type: mcp
            - enabled: true
              extra:
                description: '查询当前位置附近的地点。


                  适用场景：

                  - 用户想找附近餐厅

                  - 用户想找咖啡店

                  - 用户想找休息点

                  - 用户想找厕所、商场、景点等


                  参数：

                  - location: 经纬度，格式为 经度,纬度，例如 116.397428,39.90923

                  - keywords: 搜索关键词，例如 餐厅、咖啡、厕所、商场

                  - types: 高德 POI 类型编码，可为空

                  - radius: 搜索半径，单位米

                  - page_size: 返回数量

                  - page_num: 页码'
              parameters:
                keywords:
                  auto: 1
                  value: null
                location:
                  auto: 1
                  value: null
                page_num:
                  auto: 1
                  value: null
                page_size:
                  auto: 1
                  value: null
                radius:
                  auto: 1
                  value: null
                types:
                  auto: 1
                  value: null
              provider_name: travel-mcp
              provider_show_name: AI旅游MCP
              settings: {}
              tool_description: '查询当前位置附近的地点。


                适用场景：

                - 用户想找附近餐厅

                - 用户想找咖啡店

                - 用户想找休息点

                - 用户想找厕所、商场、景点等


                参数：

                - location: 经纬度，格式为 经度,纬度，例如 116.397428,39.90923

                - keywords: 搜索关键词，例如 餐厅、咖啡、厕所、商场

                - types: 高德 POI 类型编码，可为空

                - radius: 搜索半径，单位米

                - page_size: 返回数量

                - page_num: 页码'
              tool_label: amap_nearby_search
              tool_name: amap_nearby_search
              type: mcp
            - enabled: true
              extra:
                description: '查询两个地点之间的步行路线。


                  适用场景：

                  - 用户问怎么走

                  - 用户问步行多久

                  - 用户问是否来得及

                  - 系统判断附近地点是否适合作为推荐


                  参数：

                  - origin: 起点经纬度，格式为 经度,纬度

                  - destination: 终点经纬度，格式为 经度,纬度

                  - isindoor: 是否室内算路，0 不需要，1 需要'
              parameters:
                destination:
                  auto: 1
                  value: null
                isindoor:
                  auto: 1
                  value: null
                origin:
                  auto: 1
                  value: null
              provider_name: travel-mcp
              provider_show_name: AI旅游MCP
              settings: {}
              tool_description: '查询两个地点之间的步行路线。


                适用场景：

                - 用户问怎么走

                - 用户问步行多久

                - 用户问是否来得及

                - 系统判断附近地点是否适合作为推荐


                参数：

                - origin: 起点经纬度，格式为 经度,纬度

                - destination: 终点经纬度，格式为 经度,纬度

                - isindoor: 是否室内算路，0 不需要，1 需要'
              tool_label: amap_walking_route
              tool_name: amap_walking_route
              type: mcp
            - enabled: true
              extra:
                description: 一个用于获取当前时间的工具。
              parameters: {}
              provider_name: time
              provider_show_name: time
              settings:
                format:
                  value:
                    type: mixed
                    value: '%Y-%m-%d %H:%M:%S'
                timezone:
                  value:
                    type: constant
                    value: UTC
              tool_description: 一个用于获取当前时间的工具。
              tool_label: 获取当前时间
              tool_name: current_time
              type: builtin
            - enabled: true
              extra:
                description: 数据库SQL查询工具。
              parameters:
                db_host:
                  auto: 1
                  value: null
                db_name:
                  auto: 1
                  value: null
                db_password:
                  auto: 1
                  value: null
                db_port:
                  auto: 1
                  value: null
                db_properties:
                  auto: 1
                  value: null
                db_type:
                  auto: 1
                  value: null
                db_username:
                  auto: 1
                  value: null
                query_sql:
                  auto: 1
                  value: null
              provider_name: junjiem/db_query/db_query
              provider_show_name: junjiem/db_query/db_query
              settings:
                output_format:
                  value:
                    type: constant
                    value: markdown
              tool_description: 数据库SQL查询工具。
              tool_label: SQL查询
              tool_name: sql_query
              type: builtin
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: ''
        isInIteration: false
        isInLoop: false
        memory:
          query_prompt_template: '{{#1782285385726.user_query#}}


            '
          window:
            enabled: false
            size: 50
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.39@ceea6a76b3a495de2df2a55bcea82e903d49b06f4d8e1463c2aa085657f27164
        selected: false
        title: 日程重推荐Agent
        tool_node_version: '2'
        type: agent
      height: 187
      id: '17824362484760'
      position:
        x: 1270.8760092496725
        y: 252.16666666666663
      positionAbsolute:
        x: 1270.8760092496725
        y: 252.16666666666663
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - hikari_replan_parser_v2
          - reply
          value_type: string
          variable: reply
        - value_selector:
          - hikari_replan_parser_v2
          - itinerary_items
          value_type: array[object]
          variable: itinerary_items
        selected: false
        title: 结束-日程重推荐
        type: end
      height: 88
      id: '1782437042677'
      position:
        x: 1860
        y: 252
      positionAbsolute:
        x: 1860
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: adcode
            ja_JP: adcode
            pt_BR: adcode
            zh_Hans: adcode
          llm_description: ''
          max: null
          min: null
          name: adcode
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: extensions
            ja_JP: extensions
            pt_BR: extensions
            zh_Hans: extensions
          llm_description: ''
          max: null
          min: null
          name: extensions
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          adcode: ''
          extensions: ''
        plugin_id: ''
        plugin_unique_identifier: ''
        provider_icon:
          background: '#6366F1'
          content: 🔗
        provider_id: travel-mcp
        provider_name: AI旅游MCP
        provider_type: mcp
        selected: false
        title: amap_weather
        tool_configurations: {}
        tool_description: '查询指定城市或区县的天气。


          适用场景：

          - 用户问今天/现在天气

          - 用户问是否需要带伞

          - 用户问穿衣建议

          - 系统自动生成行前提醒


          参数：

          - adcode: 高德行政区编码，例如上海 310000，北京 110000

          - extensions: base 表示实况天气，all 表示天气预报'
        tool_label: amap_weather
        tool_name: amap_weather
        tool_node_version: '2'
        tool_parameters:
          adcode:
            type: mixed
            value: '{{#1782285385726.city_adcode#}}'
          extensions:
            type: mixed
            value: all
        type: tool
      height: 84
      id: '1783673975969'
      position:
        x: 1385
        y: 60.66666666666663
      positionAbsolute:
        x: 1385
        y: 60.66666666666663
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        author: wapapapapoo
        desc: ''
        height: 222
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"font-size: 16px;","text":"分支一是系统提示要带的东西，不做其他操作","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":"font-size: 16px;"},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textStyle":"font-size: 16px;","textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"font-size: 16px;","text":"分支二是日程修改建议，获取当前行程表后进行建议。","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":"font-size: 16px;"},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textStyle":"font-size: 16px;","textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"font-size: 16px;","text":"分支三是聊天和推荐agent，为用户提供一些旅程建议","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":"font-size:
          16px;"}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 349
      height: 222
      id: '1782439705644'
      position:
        x: 599.4796404464034
        y: 457.4047619047619
      positionAbsolute:
        x: 599.4796404464034
        y: 457.4047619047619
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 349
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: '%Y-%m-%d %H:%M:%S'
          form: form
          human_description:
            en_US: Time format in strftime standard.
            ja_JP: Time format in strftime standard.
            pt_BR: Time format in strftime standard.
            zh_Hans: strftime 标准的时间格式。
          label:
            en_US: Format
            ja_JP: Format
            pt_BR: Format
            zh_Hans: 格式
          llm_description: null
          max: null
          min: null
          name: format
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: UTC
          form: form
          human_description:
            en_US: Timezone
            ja_JP: Timezone
            pt_BR: Timezone
            zh_Hans: 时区
          label:
            en_US: Timezone
            ja_JP: Timezone
            pt_BR: Timezone
            zh_Hans: 时区
          llm_description: null
          max: null
          min: null
          name: timezone
          options:
          - icon: null
            label:
              en_US: UTC
              ja_JP: UTC
              pt_BR: UTC
              zh_Hans: UTC
            value: UTC
          - icon: null
            label:
              en_US: America/New_York
              ja_JP: America/New_York
              pt_BR: America/New_York
              zh_Hans: 美洲/纽约
            value: America/New_York
          - icon: null
            label:
              en_US: America/Los_Angeles
              ja_JP: America/Los_Angeles
              pt_BR: America/Los_Angeles
              zh_Hans: 美洲/洛杉矶
            value: America/Los_Angeles
          - icon: null
            label:
              en_US: America/Chicago
              ja_JP: America/Chicago
              pt_BR: America/Chicago
              zh_Hans: 美洲/芝加哥
            value: America/Chicago
          - icon: null
            label:
              en_US: America/Sao_Paulo
              ja_JP: America/Sao_Paulo
              pt_BR: América/São Paulo
              zh_Hans: 美洲/圣保罗
            value: America/Sao_Paulo
          - icon: null
            label:
              en_US: Asia/Shanghai
              ja_JP: Asia/Shanghai
              pt_BR: Asia/Shanghai
              zh_Hans: 亚洲/上海
            value: Asia/Shanghai
          - icon: null
            label:
              en_US: Asia/Ho_Chi_Minh
              ja_JP: Asia/Ho_Chi_Minh
              pt_BR: Ásia/Ho Chi Minh
              zh_Hans: 亚洲/胡志明市
            value: Asia/Ho_Chi_Minh
          - icon: null
            label:
              en_US: Asia/Tokyo
              ja_JP: Asia/Tokyo
              pt_BR: Asia/Tokyo
              zh_Hans: 亚洲/东京
            value: Asia/Tokyo
          - icon: null
            label:
              en_US: Asia/Dubai
              ja_JP: Asia/Dubai
              pt_BR: Asia/Dubai
              zh_Hans: 亚洲/迪拜
            value: Asia/Dubai
          - icon: null
            label:
              en_US: Asia/Kolkata
              ja_JP: Asia/Kolkata
              pt_BR: Asia/Kolkata
              zh_Hans: 亚洲/加尔各答
            value: Asia/Kolkata
          - icon: null
            label:
              en_US: Asia/Seoul
              ja_JP: Asia/Seoul
              pt_BR: Asia/Seoul
              zh_Hans: 亚洲/首尔
            value: Asia/Seoul
          - icon: null
            label:
              en_US: Asia/Singapore
              ja_JP: Asia/Singapore
              pt_BR: Asia/Singapore
              zh_Hans: 亚洲/新加坡
            value: Asia/Singapore
          - icon: null
            label:
              en_US: Europe/London
              ja_JP: Europe/London
              pt_BR: Europe/London
              zh_Hans: 欧洲/伦敦
            value: Europe/London
          - icon: null
            label:
              en_US: Europe/Berlin
              ja_JP: Europe/Berlin
              pt_BR: Europe/Berlin
              zh_Hans: 欧洲/柏林
            value: Europe/Berlin
          - icon: null
            label:
              en_US: Europe/Moscow
              ja_JP: Europe/Moscow
              pt_BR: Europe/Moscow
              zh_Hans: 欧洲/莫斯科
            value: Europe/Moscow
          - icon: null
            label:
              en_US: Australia/Sydney
              ja_JP: Australia/Sydney
              pt_BR: Australia/Sydney
              zh_Hans: 澳大利亚/悉尼
            value: Australia/Sydney
          - icon: null
            label:
              en_US: Pacific/Auckland
              ja_JP: Pacific/Auckland
              pt_BR: Pacific/Auckland
              zh_Hans: 太平洋/奥克兰
            value: Pacific/Auckland
          - icon: null
            label:
              en_US: Africa/Cairo
              ja_JP: Africa/Cairo
              pt_BR: Africa/Cairo
              zh_Hans: 非洲/开罗
            value: Africa/Cairo
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        params:
          format: ''
          timezone: ''
        plugin_id: null
        plugin_unique_identifier: ''
        provider_icon: /console/api/workspaces/current/tool-provider/builtin/time/icon
        provider_id: time
        provider_name: time
        provider_type: builtin
        selected: false
        title: 获取当前时间
        tool_configurations:
          format:
            type: mixed
            value: '%Y-%m-%d %H:%M:%S'
          timezone:
            type: constant
            value: Asia/Shanghai
        tool_description: 一个用于获取当前时间的工具。
        tool_label: 获取当前时间
        tool_name: current_time
        tool_node_version: '2'
        tool_parameters: {}
        type: tool
      height: 114
      id: '1782441089142'
      position:
        x: 1716
        y: 60.66666666666663
      positionAbsolute:
        x: 1716
        y: 60.66666666666663
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: mysql
          form: llm
          human_description:
            en_US: Used for selecting the database type, mysql, oracle, oracle11g, postgresql or mssql.
            ja_JP: Used for selecting the database type, mysql, oracle, oracle11g, postgresql or mssql.
            pt_BR: Used for selecting the database type, mysql, oracle, oracle11g, postgresql or mssql.
            zh_Hans: 用于选择数据库类型，mysql、oracle、oracle11g、postgresql或mssql。
          label:
            en_US: Database type
            ja_JP: Database type
            pt_BR: Database type
            zh_Hans: 数据库类型
          llm_description: ''
          max: null
          min: null
          name: db_type
          options:
          - icon: ''
            label:
              en_US: MySQL
              ja_JP: MySQL
              pt_BR: MySQL
              zh_Hans: MySQL
            value: mysql
          - icon: ''
            label:
              en_US: Oracle
              ja_JP: Oracle
              pt_BR: Oracle
              zh_Hans: Oracle
            value: oracle
          - icon: ''
            label:
              en_US: Oracle11g
              ja_JP: Oracle11g
              pt_BR: Oracle11g
              zh_Hans: Oracle11g
            value: oracle11g
          - icon: ''
            label:
              en_US: PostgreSQL
              ja_JP: PostgreSQL
              pt_BR: PostgreSQL
              zh_Hans: PostgreSQL
            value: postgresql
          - icon: ''
            label:
              en_US: Microsoft SQL Server
              ja_JP: Microsoft SQL Server
              pt_BR: Microsoft SQL Server
              zh_Hans: Microsoft SQL Server
            value: mssql
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: localhost
          form: llm
          human_description:
            en_US: Database hostname or IP address (Original string, not URL-encoded string).
            ja_JP: Database hostname or IP address (Original string, not URL-encoded string).
            pt_BR: Database hostname or IP address (Original string, not URL-encoded string).
            zh_Hans: 数据库的主机名或IP地址（原始字符串，非URL编码字符串）。
          label:
            en_US: Database Host
            ja_JP: Database Host
            pt_BR: Database Host
            zh_Hans: 数据库地址
          llm_description: ''
          max: null
          min: null
          name: db_host
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database port.
            ja_JP: Database port.
            pt_BR: Database port.
            zh_Hans: 数据库的端口。
          label:
            en_US: Port
            ja_JP: Port
            pt_BR: Port
            zh_Hans: 端口
          llm_description: ''
          max: null
          min: null
          name: db_port
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database username (Original string, not URL-encoded string).
            ja_JP: Database username (Original string, not URL-encoded string).
            pt_BR: Database username (Original string, not URL-encoded string).
            zh_Hans: 数据库的用户名（原始字符串，非URL编码字符串）。
          label:
            en_US: Username
            ja_JP: Username
            pt_BR: Username
            zh_Hans: 用户名
          llm_description: ''
          max: null
          min: null
          name: db_username
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database password (Original string, not URL-encoded string).
            ja_JP: Database password (Original string, not URL-encoded string).
            pt_BR: Database password (Original string, not URL-encoded string).
            zh_Hans: 数据库的密码（原始字符串，非URL编码字符串）。
          label:
            en_US: Password
            ja_JP: Password
            pt_BR: Password
            zh_Hans: 密码
          llm_description: ''
          max: null
          min: null
          name: db_password
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: secret-input
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database name (Original string, not URL-encoded string).
            ja_JP: Database name (Original string, not URL-encoded string).
            pt_BR: Database name (Original string, not URL-encoded string).
            zh_Hans: 数据库的名称（原始字符串，非URL编码字符串）。
          label:
            en_US: Database name
            ja_JP: Database name
            pt_BR: Database name
            zh_Hans: 库名
          llm_description: ''
          max: null
          min: null
          name: db_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'Database properties, for example: alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt'
            ja_JP: 'Database properties, for example: alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt'
            pt_BR: 'Database properties, for example: alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt'
            zh_Hans: 数据库属性，例如：alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt
          label:
            en_US: Database properties
            ja_JP: Database properties
            pt_BR: Database properties
            zh_Hans: 数据库属性
          llm_description: ''
          max: null
          min: null
          name: db_properties
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'SQL query statement, for example: select * from tbl_name'
            ja_JP: 'SQL query statement, for example: select * from tbl_name'
            pt_BR: 'SQL query statement, for example: select * from tbl_name'
            zh_Hans: SQL查询语句，例如：select * from tbl_name
          label:
            en_US: Query SQL
            ja_JP: Query SQL
            pt_BR: Query SQL
            zh_Hans: SQL查询语句
          llm_description: 'SQL query statement, for example: select * from tbl_name'
          max: null
          min: null
          name: query_sql
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: markdown
          form: form
          human_description:
            en_US: Used for selecting the output format, markdown or json.
            ja_JP: Used for selecting the output format, markdown or json.
            pt_BR: Used for selecting the output format, markdown or json.
            zh_Hans: 用于选择输出格式，markdown或json。
          label:
            en_US: Output format
            ja_JP: Output format
            pt_BR: Output format
            zh_Hans: 输出格式
          llm_description: ''
          max: null
          min: null
          name: output_format
          options:
          - icon: ''
            label:
              en_US: MARKDOWN
              ja_JP: MARKDOWN
              pt_BR: MARKDOWN
              zh_Hans: MARKDOWN
            value: markdown
          - icon: ''
            label:
              en_US: JSON
              ja_JP: JSON
              pt_BR: JSON
              zh_Hans: JSON
            value: json
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        params:
          db_host: ''
          db_name: ''
          db_password: ''
          db_port: ''
          db_properties: ''
          db_type: ''
          db_username: ''
          output_format: ''
          query_sql: ''
        plugin_id: junjiem/db_query
        plugin_unique_identifier: junjiem/db_query:0.0.11@2eae0951f13c4e8daa099310d706c9502c349236bca81fcc996f2aea9524c97c
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=3afb9f68-10e5-4ae6-aa52-22d27c69b253&filename=ce2ce5af47e39e9476fc06eea7fbd05446ad16043d4d16c671e69a3c650a976a.svg
        provider_id: junjiem/db_query/db_query
        provider_name: junjiem/db_query/db_query
        provider_type: builtin
        selected: false
        title: 查询目前计划表
        tool_configurations:
          output_format:
            type: constant
            value: json
        tool_description: 数据库SQL查询工具。
        tool_label: SQL查询
        tool_name: sql_query
        tool_node_version: '2'
        tool_parameters:
          db_host:
            type: mixed
            value: 49.232.141.47
          db_name:
            type: mixed
            value: agentictour
          db_password:
            type: mixed
            value: '{{#env.password1#}}'
          db_port:
            type: constant
            value: 3306
          db_properties:
            type: mixed
            value: ''
          db_type:
            type: constant
            value: mysql
          db_username:
            type: mixed
            value: root
          query_sql:
            type: mixed
            value: SELECT itinerary_id, trip_id, title, place_name, start_time, end_time, itinerary_type, reminder_time, is_initial, status FROM itinerary_items WHERE trip_id = {{#1782285385726.tour_id#}} ORDER BY start_time ASC;
        type: tool
      height: 88
      id: '1782441291535'
      position:
        x: 326.28571428571433
        y: 205.19047619047615
      positionAbsolute:
        x: 326.28571428571433
        y: 205.19047619047615
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: false
        isInLoop: false
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        prompt_config:
          jinja2_variables: []
        prompt_template:
        - id: hikari-reminder-system-v2
          role: system
          text: 你是旅行陪伴助手 Hikari，负责发送及时、温柔、克制的提醒。只输出一条面向用户的提醒正文，不输出分析、JSON 或工具过程。不得编造天气、地点、时间和行程；信息缺失时只使用已确认内容。
        - id: hikari-reminder-user-v2
          role: user
          text: '后端触发说明：{{#1782285385726.user_query#}}

            当前时间：{{#1782441089142.text#}}

            当前位置：{{#1782285385726.location_name#}}（{{#1782285385726.longitude#}},{{#1782285385726.latitude#}}）

            当前行程：{{#1782441291535.json#}}

            备忘录：{{#17836716058920.text#}}

            天气：{{#1783673975969.text#}}


            要求：

            1. 首项出发提醒：概括下一安排，并结合可靠天气和备忘录给出必要携带提示。

            2. 下一行程提醒：说明下一安排、地点、开始时间和是否需要出发。

            3. 备忘录提醒：直接提醒备忘内容，不额外扩写无关建议。

            4. 控制在 120 个汉字以内；重要时间和地点必须清楚。'
        selected: false
        structured_output_enabled: false
        title: 用户提醒
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17836645655680'
      position:
        x: 2053.583110995708
        y: 60.66666666666663
      positionAbsolute:
        x: 2053.583110995708
        y: 60.66666666666663
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        desc: 系统提示
        outputs:
        - value_selector:
          - '17836645655680'
          - text
          value_type: string
          variable: reply
        selected: false
        title: 输出 3
        type: end
      height: 116
      id: '1783664577609'
      position:
        x: 2425.142857142857
        y: 60.66666666666663
      positionAbsolute:
        x: 2425.142857142857
        y: 60.66666666666663
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        isInIteration: false
        isInLoop: false
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: mysql
          form: llm
          human_description:
            en_US: Used for selecting the database type, mysql, oracle, oracle11g, postgresql or mssql.
            ja_JP: Used for selecting the database type, mysql, oracle, oracle11g, postgresql or mssql.
            pt_BR: Used for selecting the database type, mysql, oracle, oracle11g, postgresql or mssql.
            zh_Hans: 用于选择数据库类型，mysql、oracle、oracle11g、postgresql或mssql。
          label:
            en_US: Database type
            ja_JP: Database type
            pt_BR: Database type
            zh_Hans: 数据库类型
          llm_description: ''
          max: null
          min: null
          name: db_type
          options:
          - icon: ''
            label:
              en_US: MySQL
              ja_JP: MySQL
              pt_BR: MySQL
              zh_Hans: MySQL
            value: mysql
          - icon: ''
            label:
              en_US: Oracle
              ja_JP: Oracle
              pt_BR: Oracle
              zh_Hans: Oracle
            value: oracle
          - icon: ''
            label:
              en_US: Oracle11g
              ja_JP: Oracle11g
              pt_BR: Oracle11g
              zh_Hans: Oracle11g
            value: oracle11g
          - icon: ''
            label:
              en_US: PostgreSQL
              ja_JP: PostgreSQL
              pt_BR: PostgreSQL
              zh_Hans: PostgreSQL
            value: postgresql
          - icon: ''
            label:
              en_US: Microsoft SQL Server
              ja_JP: Microsoft SQL Server
              pt_BR: Microsoft SQL Server
              zh_Hans: Microsoft SQL Server
            value: mssql
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: localhost
          form: llm
          human_description:
            en_US: Database hostname or IP address (Original string, not URL-encoded string).
            ja_JP: Database hostname or IP address (Original string, not URL-encoded string).
            pt_BR: Database hostname or IP address (Original string, not URL-encoded string).
            zh_Hans: 数据库的主机名或IP地址（原始字符串，非URL编码字符串）。
          label:
            en_US: Database Host
            ja_JP: Database Host
            pt_BR: Database Host
            zh_Hans: 数据库地址
          llm_description: ''
          max: null
          min: null
          name: db_host
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database port.
            ja_JP: Database port.
            pt_BR: Database port.
            zh_Hans: 数据库的端口。
          label:
            en_US: Port
            ja_JP: Port
            pt_BR: Port
            zh_Hans: 端口
          llm_description: ''
          max: null
          min: null
          name: db_port
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database username (Original string, not URL-encoded string).
            ja_JP: Database username (Original string, not URL-encoded string).
            pt_BR: Database username (Original string, not URL-encoded string).
            zh_Hans: 数据库的用户名（原始字符串，非URL编码字符串）。
          label:
            en_US: Username
            ja_JP: Username
            pt_BR: Username
            zh_Hans: 用户名
          llm_description: ''
          max: null
          min: null
          name: db_username
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database password (Original string, not URL-encoded string).
            ja_JP: Database password (Original string, not URL-encoded string).
            pt_BR: Database password (Original string, not URL-encoded string).
            zh_Hans: 数据库的密码（原始字符串，非URL编码字符串）。
          label:
            en_US: Password
            ja_JP: Password
            pt_BR: Password
            zh_Hans: 密码
          llm_description: ''
          max: null
          min: null
          name: db_password
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: secret-input
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Database name (Original string, not URL-encoded string).
            ja_JP: Database name (Original string, not URL-encoded string).
            pt_BR: Database name (Original string, not URL-encoded string).
            zh_Hans: 数据库的名称（原始字符串，非URL编码字符串）。
          label:
            en_US: Database name
            ja_JP: Database name
            pt_BR: Database name
            zh_Hans: 库名
          llm_description: ''
          max: null
          min: null
          name: db_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'Database properties, for example: alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt'
            ja_JP: 'Database properties, for example: alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt'
            pt_BR: 'Database properties, for example: alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt'
            zh_Hans: 数据库属性，例如：alt_host=host1&alt_host=host2&ssl_cipher=%2Fpath%2Fto%2Fcrt
          label:
            en_US: Database properties
            ja_JP: Database properties
            pt_BR: Database properties
            zh_Hans: 数据库属性
          llm_description: ''
          max: null
          min: null
          name: db_properties
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'SQL query statement, for example: select * from tbl_name'
            ja_JP: 'SQL query statement, for example: select * from tbl_name'
            pt_BR: 'SQL query statement, for example: select * from tbl_name'
            zh_Hans: SQL查询语句，例如：select * from tbl_name
          label:
            en_US: Query SQL
            ja_JP: Query SQL
            pt_BR: Query SQL
            zh_Hans: SQL查询语句
          llm_description: 'SQL query statement, for example: select * from tbl_name'
          max: null
          min: null
          name: query_sql
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: markdown
          form: form
          human_description:
            en_US: Used for selecting the output format, markdown or json.
            ja_JP: Used for selecting the output format, markdown or json.
            pt_BR: Used for selecting the output format, markdown or json.
            zh_Hans: 用于选择输出格式，markdown或json。
          label:
            en_US: Output format
            ja_JP: Output format
            pt_BR: Output format
            zh_Hans: 输出格式
          llm_description: ''
          max: null
          min: null
          name: output_format
          options:
          - icon: ''
            label:
              en_US: MARKDOWN
              ja_JP: MARKDOWN
              pt_BR: MARKDOWN
              zh_Hans: MARKDOWN
            value: markdown
          - icon: ''
            label:
              en_US: JSON
              ja_JP: JSON
              pt_BR: JSON
              zh_Hans: JSON
            value: json
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        params:
          db_host: ''
          db_name: ''
          db_password: ''
          db_port: ''
          db_properties: ''
          db_type: ''
          db_username: ''
          output_format: ''
          query_sql: ''
        plugin_id: junjiem/db_query
        plugin_unique_identifier: junjiem/db_query:0.0.11@2eae0951f13c4e8daa099310d706c9502c349236bca81fcc996f2aea9524c97c
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=3afb9f68-10e5-4ae6-aa52-22d27c69b253&filename=ce2ce5af47e39e9476fc06eea7fbd05446ad16043d4d16c671e69a3c650a976a.svg
        provider_id: junjiem/db_query/db_query
        provider_name: junjiem/db_query/db_query
        provider_type: builtin
        selected: false
        title: 备忘录查询
        tool_configurations:
          output_format:
            type: constant
            value: markdown
        tool_description: 数据库SQL查询工具。
        tool_label: SQL查询
        tool_name: sql_query
        tool_node_version: '2'
        tool_parameters:
          db_host:
            type: mixed
            value: 49.232.141.47
          db_name:
            type: mixed
            value: agentictour
          db_password:
            type: mixed
            value: '{{#env.password1#}}'
          db_port:
            type: constant
            value: 3306
          db_properties:
            type: mixed
            value: ''
          db_type:
            type: constant
            value: mysql
          db_username:
            type: mixed
            value: root
          query_sql:
            type: mixed
            value: SELECT memo_id, memo_text, reminder_time, reminded_at FROM memos WHERE trip_id = {{#1782285385726.tour_id#}} ORDER BY created_at ASC;
        type: tool
      height: 88
      id: '17836716058920'
      position:
        x: 1060.3501400560242
        y: 69.97198879551821
      positionAbsolute:
        x: 1060.3501400560242
        y: 69.97198879551821
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\n\ndef _clean(text):\n    text = str(text or \"\").strip()\n    text = re.sub(r\"<think>.*?</think>\\s*\", \"\", text, flags=re.S)\n    text = re.sub(r\"^```(?:json)?\\s*|\\s*```$\", \"\", text, flags=re.I)\n    return text.strip()\n\n\ndef main(raw_text: str):\n    text = _clean(raw_text)\n    try:\n        payload = json.loads(text)\n    except Exception:\n        return {\"reply\": text or \"暂时无法生成可靠的调整方案。\", \"itinerary_items\": []}\n\n    if not isinstance(payload, dict):\n        return {\"reply\": \"暂时无法生成可靠的调整方案。\", \"itinerary_items\": []}\n    reply = str(payload.get(\"reply\") or \"已生成候选调整方案。\")\n    items = payload.get(\"itinerary_items\")\n    if not isinstance(items, list):\n        items = []\n    items = [item for item in items if isinstance(item, dict)]\n    return {\"reply\": reply, \"itinerary_items\": items}"
        code_language: python3
        desc: 规范化模型输出，保证后端获得稳定字段类型
        outputs:
          reply:
            children: null
            type: string
          itinerary_items:
            children: null
            type: array[object]
        selected: false
        title: 规范化重规划输出
        type: code
        variables:
        - value_selector:
          - '17824362484760'
          - text
          value_type: string
          variable: raw_text
      height: 80
      id: hikari_replan_parser_v2
      position:
        x: 1560
        y: 252
      positionAbsolute:
        x: 1560
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        agent_parameters:
          context:
            type: variable
            value:
            - '1782441291535'
            - json
          instruction:
            type: constant
            value: '你是 Hikari 的系统自动检查 Agent。目标不是定时刷存在感，而是判断未来待执行行程是否出现了需要用户采取行动的明确变化。


              检查依据：当前时间、未来行程、城市天气、当前位置和必要的路线信息。数据库只允许 SELECT。


              need_notify=true 的条件：

              - 景点闭馆、明显延迟、取消或营业时间与行程冲突；

              - 恶劣天气、安全风险或交通变化明显影响即将执行的安排；

              - 根据可靠路线结果，用户很可能无法按时到达；

              - 其他需要用户现在调整、出发或避险的明确事项。


              need_notify=false 的条件：

              - 一切正常；

              - 只有泛泛建议、重复提醒或没有新增信息；

              - 工具不可用、数据不足，无法确认真实变化；

              - 变化与未来待执行行程无关。


              规则：

              1. 不能为了生成通知而夸大风险。

              2. 没有可靠证据时必须返回 false。

              3. true 时 reply 必须说明“发生了什么、影响哪个行程、用户现在做什么”。

              4. false 时 reply 简短记录检查结论，后端不会通知用户。

              5. 最终只输出合法 JSON，不要 Markdown 或思考过程：

              {"reply":"检查结论","need_notify":false}'
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: deepseek-v4-flash
              model_type: llm
              provider: langgenius/deepseek/deepseek
              type: model-selector
          query:
            type: constant
            value: '自动检查任务：{{#1782285385726.user_query#}}

              城市编码：{{#1782285385726.city_adcode#}}

              当前位置：{{#1782285385726.location_name#}}（{{#1782285385726.longitude#}},{{#1782285385726.latitude#}}）

              请检查上下文中的未来待执行行程，只返回 reply 和 need_notify。'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: 一个用于获取当前时间的工具。
              parameters: {}
              provider_name: time
              provider_show_name: time
              settings:
                format:
                  value:
                    type: mixed
                    value: '%Y-%m-%d %H:%M:%S'
                timezone:
                  value:
                    type: constant
                    value: UTC
              tool_description: 一个用于获取当前时间的工具。
              tool_label: 获取当前时间
              tool_name: current_time
              type: builtin
            - enabled: true
              extra:
                description: 数据库SQL查询工具。
              parameters:
                db_host:
                  auto: 1
                  value: null
                db_name:
                  auto: 1
                  value: null
                db_password:
                  auto: 1
                  value: null
                db_port:
                  auto: 1
                  value: null
                db_properties:
                  auto: 1
                  value: null
                db_type:
                  auto: 1
                  value: null
                db_username:
                  auto: 1
                  value: null
                query_sql:
                  auto: 1
                  value: null
              provider_name: junjiem/db_query/db_query
              provider_show_name: junjiem/db_query/db_query
              settings:
                output_format:
                  value:
                    type: constant
                    value: markdown
              tool_description: 数据库SQL查询工具。
              tool_label: SQL查询
              tool_name: sql_query
              type: builtin
            - enabled: true
              extra:
                description: '查询指定城市或区县的天气。


                  适用场景：

                  - 用户问今天/现在天气

                  - 用户问是否需要带伞

                  - 用户问穿衣建议

                  - 系统自动生成行前提醒


                  参数：

                  - adcode: 高德行政区编码，例如上海 310000，北京 110000

                  - extensions: base 表示实况天气，all 表示天气预报'
              parameters:
                adcode:
                  auto: 1
                  value: null
                extensions:
                  auto: 1
                  value: null
              provider_name: travel-mcp
              provider_show_name: AI旅游MCP
              settings: {}
              tool_description: '查询指定城市或区县的天气。


                适用场景：

                - 用户问今天/现在天气

                - 用户问是否需要带伞

                - 用户问穿衣建议

                - 系统自动生成行前提醒


                参数：

                - adcode: 高德行政区编码，例如上海 310000，北京 110000

                - extensions: base 表示实况天气，all 表示天气预报'
              tool_label: amap_weather
              tool_name: amap_weather
              type: mcp
            - enabled: true
              extra:
                description: '查询当前位置附近的地点。


                  适用场景：

                  - 用户想找附近餐厅

                  - 用户想找咖啡店

                  - 用户想找休息点

                  - 用户想找厕所、商场、景点等


                  参数：

                  - location: 经纬度，格式为 经度,纬度，例如 116.397428,39.90923

                  - keywords: 搜索关键词，例如 餐厅、咖啡、厕所、商场

                  - types: 高德 POI 类型编码，可为空

                  - radius: 搜索半径，单位米

                  - page_size: 返回数量

                  - page_num: 页码'
              parameters:
                keywords:
                  auto: 1
                  value: null
                location:
                  auto: 1
                  value: null
                page_num:
                  auto: 1
                  value: null
                page_size:
                  auto: 1
                  value: null
                radius:
                  auto: 1
                  value: null
                types:
                  auto: 1
                  value: null
              provider_name: travel-mcp
              provider_show_name: AI旅游MCP
              settings: {}
              tool_description: '查询当前位置附近的地点。


                适用场景：

                - 用户想找附近餐厅

                - 用户想找咖啡店

                - 用户想找休息点

                - 用户想找厕所、商场、景点等


                参数：

                - location: 经纬度，格式为 经度,纬度，例如 116.397428,39.90923

                - keywords: 搜索关键词，例如 餐厅、咖啡、厕所、商场

                - types: 高德 POI 类型编码，可为空

                - radius: 搜索半径，单位米

                - page_size: 返回数量

                - page_num: 页码'
              tool_label: amap_nearby_search
              tool_name: amap_nearby_search
              type: mcp
            - enabled: true
              extra:
                description: '查询两个地点之间的步行路线。


                  适用场景：

                  - 用户问怎么走

                  - 用户问步行多久

                  - 用户问是否来得及

                  - 系统判断附近地点是否适合作为推荐


                  参数：

                  - origin: 起点经纬度，格式为 经度,纬度

                  - destination: 终点经纬度，格式为 经度,纬度

                  - isindoor: 是否室内算路，0 不需要，1 需要'
              parameters:
                destination:
                  auto: 1
                  value: null
                isindoor:
                  auto: 1
                  value: null
                origin:
                  auto: 1
                  value: null
              provider_name: travel-mcp
              provider_show_name: AI旅游MCP
              settings: {}
              tool_description: '查询两个地点之间的步行路线。


                适用场景：

                - 用户问怎么走

                - 用户问步行多久

                - 用户问是否来得及

                - 系统判断附近地点是否适合作为推荐


                参数：

                - origin: 起点经纬度，格式为 经度,纬度

                - destination: 终点经纬度，格式为 经度,纬度

                - isindoor: 是否室内算路，0 不需要，1 需要'
              tool_label: amap_walking_route
              tool_name: amap_walking_route
              type: mcp
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: 检查未来行程是否出现值得通知用户的明确变化
        memory:
          query_prompt_template: '{{#1782285385726.user_query#}}

            '
          window:
            enabled: false
            size: 50
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.39@ceea6a76b3a495de2df2a55bcea82e903d49b06f4d8e1463c2aa085657f27164
        selected: false
        title: 系统自动检查Agent
        tool_node_version: '2'
        type: agent
      height: 215
      id: hikari_auto_check_agent_v2
      position:
        x: 1270
        y: 820
      positionAbsolute:
        x: 1270
        y: 820
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\n\ndef _bool(value, default=True):\n    if isinstance(value, bool):\n        return value\n    if isinstance(value, str):\n        normalized = value.strip().lower()\n        if normalized == \"true\":\n            return True\n        if normalized == \"false\":\n            return False\n    return default\n\n\ndef main(raw_text: str):\n    text = str(raw_text or \"\").strip()\n    text = re.sub(r\"<think>.*?</think>\\s*\", \"\", text, flags=re.S)\n    text = re.sub(r\"^```(?:json)?\\s*|\\s*```$\", \"\", text, flags=re.I).strip()\n    try:\n        payload = json.loads(text)\n    except Exception:\n        return {\"reply\": text or \"自动检查输出无法解析。\", \"need_notify\": True}\n    if not isinstance(payload, dict):\n        return {\"reply\": \"自动检查输出无法解析。\", \"need_notify\": True}\n    return {\n        \"reply\": str(payload.get(\"reply\") or \"自动检查已完成。\"),\n        \"need_notify\": _bool(payload.get(\"need_notify\"), True),\n    }"
        code_language: python3
        desc: 规范化模型输出，保证后端获得稳定字段类型
        outputs:
          reply:
            children: null
            type: string
          need_notify:
            children: null
            type: boolean
        selected: false
        title: 规范化自动检查输出
        type: code
        variables:
        - value_selector:
          - hikari_auto_check_agent_v2
          - text
          value_type: string
          variable: raw_text
      height: 80
      id: hikari_auto_check_parser_v2
      position:
        x: 1560
        y: 820
      positionAbsolute:
        x: 1560
        y: 820
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - hikari_auto_check_parser_v2
          - reply
          value_type: string
          variable: reply
        - value_selector:
          - hikari_auto_check_parser_v2
          - need_notify
          value_type: boolean
          variable: need_notify
        selected: false
        title: 结束-自动检查
        type: end
      height: 113
      id: hikari_auto_check_end_v2
      position:
        x: 1860
        y: 820
      positionAbsolute:
        x: 1860
        y: 820
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -115.14745648554253
      y: 122.71529040112753
      zoom: 0.6765946450304495
  rag_pipeline_variables: []
