workflow/随便问.yml
app:
  description: ''
  icon: sweat_smile
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 随便问
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.2.1@0924de1d15a8a35b0cc64ff396c68d5edddcfbc495a1e52ea57e8648434eff4b
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 500
        file_size_limit: 500
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1783903833103-source-1783903838507-target
      source: '1783903833103'
      sourceHandle: source
      target: '1783903838507'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1783903838507-source-1783903992128-target
      source: '1783903838507'
      sourceHandle: source
      target: '1783903992128'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables:
        - default: ''
          hint: ''
          label: input_json
          max_length: null
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: input_json
        - default: ''
          hint: ''
          label: original_user_prompt
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: original_user_prompt
      height: 133
      id: '1783903833103'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.6-flash
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 81f07c97-692c-457f-b94a-1d974fa6f006
          role: system
          text: '接下来用户会输入一个json格式的旅行计划，你需要将它转变为自然语言描述，必须使用纯文本，不得出现污染性的模式例如唐逼emoji和大量ul。不准像个傻逼seller一样推销计划，有什么就说什么，别你妈逼加废话


            例子

            ```text

            上海4日游，2人，预算3000元，老人同行，全程步行控制在每次20分钟内。


            第一天 7月20日

            09:00-10:30 杭州东坐高铁到上海虹桥，约1小时，选靠过道座位

            11:00-12:00 入住地铁站附近酒店，放行李休息

            15:00-17:00 外滩，地铁到南京东路站步行10分钟，免费，注意防晒

            18:00-19:30 上海老饭店吃本帮菜，打车去，约150元，提前电话预约


            第二天 7月21日

            09:30-11:30 上海博物馆，地铁到人民广场站，免费需预约，馆内可休息

            12:00-13:30 南翔馒头店买小笼包，建议打包带走

            ...

            ```'
        - id: 1d420224-913a-434c-981c-a623a2b6dd1e
          role: user
          text: '旅行计划生成提示词：

            {{#1783903833103.original_user_prompt#}}


            旅行计划：

            {{#1783903833103.input_json#}}'
        selected: false
        structured_output_enabled: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 86
      id: '1783903838507'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1783903838507'
          - text
          value_type: string
          variable: reply
        selected: false
        title: Output
        type: end
      height: 87
      id: '1783903992128'
      position:
        x: 683
        y: 282
      positionAbsolute:
        x: 683
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 0.7059970937591515
      y: -27.890870338092782
      zoom: 1.3059469200904645
  rag_pipeline_variables: []
